[2012-08-15 08:21] alebianco opened #1 "iOS runtime error"
On iOS it throws an error:

Unable to find named traits: eu.alebianco.core::Enum

[2012-09-04 13:23] edzis commented on #1
Is this one fixed? I see that there are commits newer that this issue.

[2012-09-04 13:41] alebianco commented on #1
It should be fixed, but I could only test it only on the iOS simulator.

I was waiting for @digitaljohn for some feedback, since he's the one who have reported it, but i got none. That's the main reason the issue it's still open.

If you care to test it and report back it will be much appreciated :)

[2012-09-04 13:56] digitaljohn commented on #1
My apologies for the delay. We have not had a chance to retest as are working on other parts of this mammoth cross-platform starling project.

Hopefully we will be able to take another look early next week.

[2012-09-24 08:10] digitaljohn commented on #1
This appears to be fixed... but I am getting the same error on Android. Ill open another Issue...

[2012-09-24 08:11] digitaljohn opened #2 "Android Enum Error"
Running the Demo App. I get the following error on Android:

[code]

[2012-09-24 08:14] digitaljohn opened #3 "deleteCustomVar"
There does not seem to be an equivalent of deleteCustomVar?

https://developers.google.com/analytics/devguides/collection/gajs/methods/gaJSApiBasicConfiguration#_gat.GA_Tracker_._deleteCustomVar

[2012-09-24 09:46] alebianco commented on #3
There's no equivalent to _deleteCustomVar in the mobile SDKs
https://developers.google.com/analytics/devguides/collection/android/devguide

Apparently all that method does (on the web version) is remove the variable name from the ga cookie, it doesn't remove past data.
The mobile SDKs doesn't use a cookie, so I guess there was no need to implement the method from their part.

[2012-09-24 09:48] alebianco commented on #2
fixed, it was just a configuration error.
For who comes next: Be sure to enable the extension from the project properties :)

[2012-09-24 09:50] #2 closed, assigned to alebianco

[2012-09-24 09:50] #1 closed, assigned to alebianco

[2012-10-02 11:00] #3 closed, assigned to alebianco

[2012-10-02 11:07] digitaljohn opened #4 "Crash on iOS 4.* Devices"
It appears the usage of [ARC](http://developer.apple.com/library/mac/#releasenotes/ObjectiveC/RN-TransitioningToARC/Introduction/Introduction.html) (Automatic Reference Counting) is an issue on iOS 4.\* flavour devices.

Example Error:

[code]

A potential quick fix on this site:
[Using ARC in native extensions](http://blogs.adobe.com/rajorshi/2012/09/06/using-arc-in-native-extensions/)

Any help

[2012-10-02 16:50] alebianco commented on #4
fixed the compatibility problem with iOS>4.3

still need to confirm is earlier versions works as expected

[2012-10-03 09:42] esp666 commented on #4
Hello I had the same problem but with the new ane and swc I get this at compile time

Error occurred while packaging the application:

ld: library not found for -larclite_iphoneos
Compilation failed while executing : ld64

[2012-10-03 09:46] alebianco commented on #4
are you on OSX?
do you have the iphone sdk 5.1 installed? which path?

[2012-10-03 09:56] esp666 commented on #4
Win7, compilling flex project under flash builder 4.6, air 3.4

[2012-10-03 09:59] alebianco commented on #4
I fear you really need an osx enviroment to compile the project using the extension. it's a requirement imposed by the way extensions for ios works.

only exception is you're targeting only an android build, in that case we can work out a solution ...

[2012-10-03 10:01] esp666 commented on #4
It worked with your last version

[2012-10-03 10:04] alebianco commented on #4
ok, that's strange :)
i'm going to open a different issue and investigate the problem

[2012-10-03 10:05] esp666 commented on #4
Ok, thanks. For information I use several ane for ios without any compilation problem.

[2012-10-03 10:07] alebianco opened #5 "Packaging problem"
Packaging an application on windows with AIR 3.4 using version 1.21 of the extension results in an error:

[2012-10-03 13:47] alebianco commented on #5
should be fixed under the (new) development branch.
waiting confirmation from the ~~guinea pigs~~ developers involved before merging into the main branch

[2012-10-03 13:50] alebianco commented on #4
@esp666 check the other issue i opened and let me know if it's fixed for you. i tested on my machine and it seems to be working again

[2012-10-04 07:26] esp666 commented on #5
Compilation ok, thank you

[2012-10-04 10:11] profelis commented on #5
1.21 version build was ok. (sdk 3.4)

Now

ld: warning: directory not found for option '-L/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/lib/arc'
           ld: library not found for -larclite_iphoneos
           Compilation failed while executing : ld64

[2012-10-04 10:13] alebianco commented on #5
checkout the development branch, it should be fixed there

i'm going to merge soon on the main, i just need to run a couple of tests first

[2012-10-04 10:13] profelis commented on #5
ups. thanks!

[2012-10-04 10:15] profelis commented on #5
with development branch binaries

ld: library not found for -lgcc_s.1
Compilation failed while executing : ld64

[2012-10-04 10:20] alebianco commented on #5
open a new issue please and give me some details on your setup (platform, air version etc)
i'm not using (directly) that library so i'll need to investigate the problem

[2012-10-04 10:53] profelis opened #6 "iOS package"
Problem only then package ipa for simulator.

Mac OS 10.7.4
XCode 4.5
Air sdk 3.4

<application xmlns="http://ns.adobe.com/air/application/3.4">

development branch
iPhoneSimulator5.0 or iPhoneSimulator5.1
package for simulator - error

[code]

ipa package - all ok

 iPhoneSimulator6.0
 package for simulator

[code]

ipa package - all ok

[2012-10-04 11:58] alebianco commented on #6
on the 5.0/5.1 simulator, those are just warnings, nothing to worry about. the app should get packaged correctly and run on the simulator.
i'm testing it with the demo project launched from the ant target that comes in the ant build file, seems to work ok here

on the 6.0 simulator, i can't test directly (can't upgrade xcode or i'll loose support to armv6 devices) but i've found that that's a know

[2012-10-04 13:30] profelis commented on #6
Thanks for answer.

I build in IDEA and it stop build after warnings.

[2012-10-04 13:30] #6 closed, assigned to alebianco

[2012-10-11 11:20] #5 closed, assigned to alebianco

[2012-10-11 11:20] #4 closed, assigned to alebianco

[2012-11-10 08:38] Seidi opened #7 "Google Analytics v2?"
Why you do not use Google Analytics v2?

[2012-11-12 07:36] alebianco commented on #7
well, for starters, it wasn't available at the time and i didn't knew about the new release :)

moreover, the v2 it's still on beta. i'm not sure it'll be totally safe to use a beta version on a production product.

that said, i'll start a new branch in the next days to port the library to the new analytics version. You're welcome to keep an eye on it and test it when it's ready

there're also a c

[2012-11-22 16:40] selimanac opened #8 "Coudnt make it work"
Is there a something wrong?  did i missing something?
http://pastebin.com/bUmFQRcD

Regards

[2012-11-23 09:41] alebianco commented on #8
at a first glance the code seems correct

what's the problem? you get some runtime error? nothing is tracked? something else?

also: are you testing on the actual device? which platform?

[2012-11-23 09:56] selimanac commented on #8
Looks like everything is working but Google Analytics coudnt retrieve any data. Nothing is tracked yet. I try it on iOS with 2 different devices There isnt any error or any sandbox issue. I try it for a week(almost everyday) and  G analytic status is still Unknown and there isnt any data.

[2012-11-23 10:27] alebianco commented on #8
Double check that you're not running in dry mode (from the code is doesn't seems like that, but double check just to be sure)

Also, set it to debug mode, so you could see the dispatch operations on the device logs. In that way you can control if data is actually sent to the analytics servers.

[2012-11-29 15:57] i-soy commented on #8
Hi, I have the same issue. I also don't see any debug messages from GA when debug is set to true.

Note:
- I have removed all Android stuff before building the ANE
- also removed the signing part of the ADT process
- we traced the internet calls of the iOS simulator and there is nothing going to Google
- also the google analytics sqlite database is only filling the session start and not the events

[2012-11-29 16:13] alebianco commented on #8
the only thing i'm not sure about is if the simulator actually can send data through the tracker, i'll check it and let you know. tracking from on an actual should work as expected ...

about the debug messages: you're checking the device logs (with logcat for android for example) or the flash/air trace console?

hopefully i'll update the extension with the latest version of the google tracker dur

[2012-11-29 22:47] i-soy commented on #8
Thanks for you quick reply!

On iOS the simulator usually can send to Google Analytics (when working with the native code).

I have checked the device log with Flash Builder console. Tomorrow I'll check the actual log on the Xcode console. Good tip, thanks.

For what version are you updating the code? for 1.5 or for 2.0?

[2012-11-29 23:30] alebianco commented on #8
on the FB console you won't see much stuff, mostly error-reports if something goes wrong. the bulk of the operations are done by the native tracker itself, that logs to the device console of course :)

for the update i guess i'll do a mini-update from 1.5 to 1.51 and then i'll switch to a new branch for the 2.0 update, because we'll loose support on older iOS devices (3gs and 3gs if i remember cor

[2012-11-30 00:12] i-soy commented on #8
I'll check that console then.

Updates sounds good! I think it is only missing the 3g support, cause that it a ARMv6 architecture right? I thought the 3gs is already ARMv7.

[2012-11-30 00:25] alebianco commented on #8
yes you're right, we'll lose support only on the 3g

[2012-11-30 07:05] i-soy commented on #8
Btw, do I have to sign the ANE with a .p12? Does it matter? Will Apple not reject the app when it is signed?

[2012-11-30 09:42] imatrofailo commented on #8
Hi alebianco. Do you think new ANE with support of GA_SDK_2.0 at least for Android platform will be ready by Monday? I've just researched your great library. And are looking to integrate it into my application. Thx.

[2012-11-30 15:32] alebianco commented on #8
can't make promises, but that's the intention :)

[2012-12-01 01:10] i-soy commented on #8
I'm opening the console in the Xcode organizer. It is telling me only this at the start:

Dec  1 02:06:01 unknown Game[1648] <Warning>: Entering GAExtensionInitializer
Dec  1 02:06:01 unknown Game[1648] <Warning>: Exiting GAExtensionInitializer
Dec  1 02:06:01 unknown Game[1648] <Warning>: Entering GAContextInitializer
Dec  1 02:06:01 unknown Game[1648] <Warning>: Exiting GAContextInitializer

Is

[2012-12-01 13:18] i-soy commented on #8
Do I need to use the slashes in the pageviews etc? Like, /game/category/viewx ?

[2012-12-01 13:25] alebianco commented on #8
only if you like it, the tracker (both my bridge and the native library) doesn't force you to

about the console logs: yes, it is correct for when the extension is initialized. after you make some action you should see something like :
12/1/12 2:01:53.161 PM ANE-GATrackerDemo[2970]: dispatch called
12/1/12 2:01:53.162 PM ANE-GATrackerDemo[2970]: dispatching 1 hits
12/1/12 2:01:53.162 PM ANE-GATrac

[2012-12-01 16:13] i-soy commented on #8
Okay, thanks.

I just tried the .ane which is in the bin folder when you download the project. This one seems to work. I.e. It is generating the debug messages. Don't know yet if they will also be in the dashboard.

Can I use that .ane for the release build to apple? Or is it only for local?

Thanks for your quick replies man!

[2012-12-01 16:17] alebianco commented on #8
of course you can use it, it's the fully packaged extension and it will work on ios android for both production and development.
no need to fiddle with the code unless you absolutely have to :)

i'm still waiting for todays's tests to show up on my dashboard, hopefully the will during the night so i can move on tomorrow to v2

[2012-12-01 16:21] i-soy commented on #8
oh okay, sorry man, I thought it was only for development. I'll use that one then, I think the stats will be available lateron. Thanks again for your fast replies and the good work!

[2012-12-01 19:56] i-soy commented on #8
FYI:
Just checked the data which is send on the iOS simulator when calling the ANE methods. I can't find any specify Google Analytics calls. Might be due to the simulator?!

[2012-12-01 23:19] i-soy commented on #8
Okay, I see some information in the "HTML" Google Analytics. Not yet in the special "app" Google Analytics. For you information, I have created two different UA codes with both options (HTML and app) http://grab.by/hWKc. The web one is filled now, the app one not yet.

Can it maybe be that the "app" one needs another approach? I'll wait some time extra and let you know if the "app" one  is also fi

[2012-12-02 12:11] alebianco commented on #8
I just verified that the data is tracked as expected ...

In details:
- yesterday i used, for mistake, an invalid account ID so, even if I was seeing the data being sent nothing was recorded on my dashboard of course. Today i noticed the error, changed to a valid and functional ID and the data showed up **within minutes** on the dashboard. Just to be safe in the future I added a validation for the

[2012-12-02 19:43] i-soy commented on #8
Thanks for you explanation. I'll use the "web" variant for now, this one is working perfect. (within 10 minutes)

[2012-12-02 20:37] imatrofailo commented on #8
I've used recent version of ANE_v.1.23 according to your suggestions. I'm not able to see tracking results on GA Dashboard. I've created tracking id for tracking mobile application. And I see following message near my tracking ID on GA admin page - "This is the tracking ID for this Google Analytics property. Use this ID in conjunction with the SDK to send tracking information from your app."
So th

[2012-12-02 20:54] alebianco commented on #8
I'm still trying to verify it..
The docs imply that both versions should work the same but I'm not 100% sure yet. I'll let you know as soon as I know something for certain.
In any case the next version supporting the sdk 2.0 is almost ready to be published..

[2012-12-02 21:55] imatrofailo commented on #8
thank you for follow up.

[2012-12-03 21:52] alebianco commented on #8
finally figured it out: yes, the new "app" profile accepts data only from the 2.0 (or higher) trackers :-1:
hold steady while i complete the port of the extension to the new tracker or use the old style profile ...

[2012-12-03 22:17] i-soy commented on #8
thanks for figuring out! that explains everything :)

[2012-12-04 21:57] imatrofailo commented on #8
thanks for figuring out! Looking forward for ANE with integrated 2.0 SDK.

[2012-12-06 16:04] imatrofailo commented on #8
Hi Alebianco, do you have any updates about new ANE with integrated GA 2.0 SDK. Thank you.

[2012-12-06 16:08] alebianco commented on #8
some: i made a quick and dirty port of the android version to test it. it's _very_ dirty and it doesn't reflect most of the new functionalities of the new native tracker.

if you (badly) need it i can push it to the development branch, but it will change a lot before i can say it's ready for the master branch ...

[2012-12-06 16:12] imatrofailo commented on #8
thank you for follow up. i will put integration your GA tracking ANE with my application on hold for a short time. It's better to waut for master version... Thank you.

[2012-12-22 21:16] imatrofailo commented on #8
Hi Alebianco, do you have any updates about new ANE with integrated GA 2.0 SDK?
Unfortunatly I have new "app" profile and can't use it with 1.5 SDK.

[2012-12-22 21:40] alebianco commented on #8
Yep, I have some news indeed!
I made a fresh start yesterday and I already have all the AS3 code and half the Android native code done and tested.
I should have the extension published before the new year with the demo project following close.
I'm sorry for the delay but, as you can imagine, I've been delayed a bit by work and life :)

[2012-12-22 22:52] imatrofailo commented on #8
Good news! Thank you for follow up...i appreciate your outcome.

[2012-12-28 11:55] alebianco commented on #7
done and release in the development branc

[2012-12-28 11:55] #7 closed, assigned to alebianco

[2012-12-28 11:57] alebianco commented on #8
For anyone still waiting, I just release it!
you'll find it in the development branch since i still need to write some docs and remake the demo project, but the extension itself is complete and is ready.
You can start track your application NAO!

[2012-12-28 11:57] #8 closed, assigned to alebianco

[2013-01-29 20:55] in4ray opened #9 "Data is not tracking with new Google tracker (v2.0 beta 4)"
I've just created new Google tracker ID for my new applicatio and do see that ANE stopped working for me. Probably because of new GA SDK - Version: 2.0beta4 (January 2013).
Could you please take a look to it and recompile ANE with new GA SDK.

Thx in advance,
-Ihor

[2013-02-01 11:17] alebianco commented on #9
tnx for the warning:)
i had a quick look at che changelog, it's possible that's caused by the switch from http to https as the default protocol.
i'll have a look at it tomorrow and let you know ...

[2013-02-01 16:35] sarahnorthway opened #10 "Causes Android app to force-quit"
I've got this working beautifully in iOS (iPhone 4s w/ 5.0.1), but on Android (Nexus One w/ 2.3.6) it consistently causes the app to crash after 5-10 seconds. I don't see anything useful in the logcat but I'd be happy to help debug this. I'm building with AIR 3.5.

[2013-02-01 17:28] alebianco commented on #10
i've a device with 2.3.7 running, will check again tomorrow but last time i built the project everything was working fine.
could you give me some more details on when the crash seems to happen? upon initialization? after some specific method call?

[2013-02-01 20:33] sarahnorthway commented on #10
The exact timing varies, but it crashes after several seconds of sitting there - no input or calls from my code. Always after logging is enabled and the first pageview sent. I thought it was just coincidence at first since this phone's cranky at the best of times, but after enabling/disabling the logging half a dozen times I'm sure. Seems like it must be some kind of background process or somethin

[2013-02-03 16:10] alebianco commented on #9
I just pushed a new release with the SDK 2.0 beta 4
tested on android 2.3.7 and the iOS simulator, the data is tracked successfully
let me know if it works for you also

[2013-02-03 16:16] alebianco commented on #10
i just pushed a new release with the latest SDK from Google
i tested it on my android 2.3.7 (it's an HTC Desire with a custom rom) and it works ok, no crashes on my end

if still have problems with this release:
try using a manual dispatch by setting Analytics.getInstance().dispatchManually = true; and then calling Analytics.getInstance().dispatch(); when you're ready to send your hits

and let me

[2013-02-03 21:14] in4ray commented on #9
Thx for such quick update. Could you please compile ANE binary file. Appreciate your help.

[2013-02-03 23:16] in4ray commented on #9
I've just tested new ANE and it works fine. Thx.

[2013-02-04 09:07] #9 closed, assigned to alebianco

[2013-03-01 10:20] xastor commented on #10
I had this problem too, but with another ane.  I was able to fix it by going back to air 3.5 (I was using 3.6 beta).

[2013-03-01 10:26] xastor opened #11 "Latest build of development branch not working properly on android."
I'm using the development branch of your extension to report to an Analytics app profile.

Here's some relevant logcat output : http://pastebin.com/V9dJKWkN

I'm using air 3.5 and I'm testing on android 4.2 and 2.3, both are affected.  It looks like a build problem happened somewhere, but I'm not sure?

[2013-03-21 19:44] ghost opened #12 "iOS no data in GA"
Hello,

I compiled your demo with my GA Key on iPad3, everything seems to be ok but have no stats in GA dashboard.
- i verified my GA key
- i used web profile (not app profile in GA dashboard)
- i deactivated debug mode and dry mode

When i click the "Track Page View" nothing appears in the logger panel, is that right ?

[2013-06-07 10:49] SlavomirDurej commented on #10
is there any news on this ? I'm using AIR 3.7 and I'm having exactly the same problem as Sarah.. Going back to v3.5 doesn't really seems like a good solution..

[2013-06-07 11:04] SlavomirDurej commented on #10
one thing I just noticed, I've added a couple of android permissions to the app and it stopped crashing (might be coincidence, but hopefully not) Added access Network State, Access Wifi State, Access Fine Location, Read phone state, write external storage and internet permissions..

Are all of those needed ? Which ones does this extension actually need ?

[2013-06-07 17:15] alebianco commented on #10
Still have to investigate it properly, but never encountered the problem myself. I don't know of any special requirement of permissions, beside internet access.
I have a demo project in my repos which Is working and you can use to compare. Also, i just published an update that may fix some issues.
If that doesn't help, could you upload somewhere a small project that has the problem? It would help

[2013-06-10 19:17] arnovanoordt opened #13 "iOS ipa compile error"
Hi Alebianco,

Great work on the new version! However I'm running into a little problem when I try to compile my ipa (using the commandline).
This is the error:
"Installation Error: PackageInspectionFailed."

..and here is the appropriate part of the logging:
installd[3647] <Error>: 0x2ff56000 handle_install: Install of "/var/mobile/Media/PublicStaging/Cubles-dev.ipa" requested by mobile_installat

[2013-06-10 21:22] alebianco commented on #13
it may be just some configuration of the project or the commandline you're running.
could you paste somewhere (like on pastebin or a gist) the app descriptor xml you're using and the complete command line for compiling?

[2013-06-10 22:09] arnovanoordt commented on #13
Thanks for the quick reply!
Here is the descriptor: http://pastebin.com/8MDsnL9P
And here is the commandline stuff: http://pastebin.com/DP13xMzL

PS I run my stuff on a remote mac so ther is som copying of files to that laptop but that should have no influence on the executition of the rest of the script

[2013-06-11 08:53] alebianco commented on #13
i'm doing some research on the problem and it's tricky, still not sure what's the cause.
you said you get the error while compiling? because most of the references i found online says it shows up when deploying on the device.
also, does it happen only on an actual device? or on the emulator too?

[2013-06-11 08:59] arnovanoordt commented on #13
My bad, it's indeed during deploy; direct throught adt and through itunes as well (with itunes the loader bar just stops around 90% and then the installation just hangs). I don't have an emulator so I'm not sure if the problem arises there too. I see if I can get an it to work on an emulator later on today.

[2013-06-11 12:34] arnovanoordt commented on #13
Here are the errors I get when I try to run it om the emulator:

*Compile:
ld: warning: could not create compact unwind for __Unwind_Resume: non-standard r                                                                  egister 0 being saved in prolog
ld: warning: could not create compact unwind for __Unwind_ForcedUnwind: non-stan                                                                  d

[2013-06-11 12:47] alebianco commented on #13
hum, weird, i got no errors on the emulator
i'm going to try and compile a version without the documentation embedded (since the problems seems to come from the doc folder) later today and upload it somewhere for you to try

[2013-06-19 09:04] alebianco commented on #13
could you try with the latest release in the dev branch? can't test on a real device yet, but on the emulator seems to be working ...

[2013-06-19 17:05] arnovanoordt commented on #13
Works like a charm! Thanks for the support!

[2013-06-19 17:05] #13 closed, assigned to alebianco

[2013-06-23 10:19] #12 closed, assigned to alebianco

[2013-06-23 10:20] #11 closed, assigned to alebianco

[2013-06-25 03:35] mani95lisa opened #14 "Doesn't work on IPad3"
Hi, thanks for your wonderful project, but when I use it got these message and doesn't work, could you give me some advices ?

Thanks!

[code]

[2013-06-25 08:33] alebianco commented on #14
where it says

[code]

tells me that 1 hit (an scree view, event, etc) has been queued and it's been sent by the tracker to Analytics

check that:
- the ID for the account is the right one
- the account type is App and not a Website
- the iPad can reach the website www.google-analytics.com (by the logs it seems to me it can, but double check anyway)

[2013-06-30 22:01] protozoo opened #15 "Tracked data not showing in Google Analytics"
Hi there!

I'm trying to use this extension in my iOS app but don't seem to be able to get the tracker data in GA. I'm using this code:

if (GATracker.isSupported()) {
                trace( "Google Analytics is supportd" );
                _tracker = GATracker.getInstance();
                _tracker.startNewSession("XXXXXX", 20);
                _tracker.trackPageView("/init");
            }else{

[2013-07-01 08:16] alebianco commented on #15
the "old" (as in "the one in the master branch") doesn't work with the "app" profile, due to google's restrictions; if you want to use that version you must use the "web" profile.
otherwise (and i encourage this option) you can use the version in the development branch, which will work just fine.
The API is quire different from the first version and it's still undergoing some small changes and tes

[2013-07-01 08:27] protozoo commented on #15
Hi Alessandro,

thanks for the reply. In don't see the compiled ANE in the development version. Am i supposed to compile it myself? (not sure how to do it since I haven't worked with Objctive-C / xCode further that some very basic tutorials a longo time ago).

Thanks again!

[2013-07-01 09:37] alebianco commented on #15
there shoud be a release folder with a zip inside, you'll find the compile
version and the documentation inside

Alessandro

On 1 July 2013 09:27, Daniel notifications@github.com wrote:

[2013-07-01 10:09] protozoo commented on #15
Hi Alessandro,

sorry if this is a bit lame, but can't find the release folder. The ANE I've been using until now is the one I found in the master branch under the "bin" folder.
Afterwards, I've pulled the development branch but I only see a "build" and "source" folders there. Am I missing something?

Thanks again

[2013-07-01 10:17] alebianco commented on #15
sorry, my fault, I probably removed it in one of the latest commits.
I'm going to rebuild it a push the release folder. Give it 10-15 mins and
check again the development branch

Alessandro

On 1 July 2013 11:09, Daniel notifications@github.com wrote:

[2013-07-01 10:58] pluginalan opened #16 "Build process"
Hi, and thanks kindly for this project - it's the only GA solution for AIR, so far as I know, and it does the job very well!

I'm trying to build the development branch (need the new 'App' stuff), and after a fashion (the undisclosed requirement to include your abcore github project in the actionscript/ dir) I'm stuck with a build error on the ext_ios target:

exec] xcodebuild: error: Unknown buil

[2013-07-01 11:27] protozoo commented on #15
Hi again,

thanks, I downloaded it, upgraded my AIR SDK to 3.7 (latest from Adobe), and could compile my app and deploy to device without problem. I also replaced the ANE-related functions since looks like the development version is different that the master one. I.e:

I changed this:

if (GATracker.isSupported()) {
    var tracker:GATracker = GATracker.getInstance();
    tracker.startNewSession("

[2013-07-02 22:07] protozoo commented on #15
Hi again,

pages and events are now being tracked and displayed in GA, so all is fine.

Thanks a lot for your help!

[2013-07-02 22:07] #15 closed, assigned to alebianco

[2013-07-05 06:12] treefortress opened #17 "Updates Required for AIR 3.8"
Hi, as per this thread:
http://forums.adobe.com/message/5478318#5478318

Some changes are required to run with AIR 3.8, specifically:

You will need to change the line:
<option>-ios_version_min 4.0</option>
to:
<option>-ios_version_min 4.2</option>

and rebuild the ANE

[2013-07-05 08:00] alebianco commented on #17
will need to check if that has some sort of impact on older versions of AIR
in any case, will do as soon as AIR 3.8 is out of the beta

[2013-07-05 08:24] treefortress commented on #17
Cool, thanks! Any chance you can kick out an intermediary build...? 3.8 isn't scheduled to hit for about 2 full months :(

[2013-07-05 08:36] alebianco commented on #17
yes i could create a new branch for that but i won't be able to do it until after the weekend
if you can't wait, you can try to build it yourself (and be my guinea pig to see if the build process is easy enough to be used by other people)

[2013-07-05 13:51] treefortress commented on #17
Awesome that would be great. I'd totally do that, but I don't have a readily available OSX machine.

[2013-07-05 13:56] alebianco commented on #17
are you deploying on ios or android?
if you don't have to deploy to ios, you can build on windows, the build script should be smart enough to compile only the android part of the native code, and test your app on a device (android emulator is not supported by the extension)

[2013-07-05 15:38] treefortress commented on #17
The bug only manifests on iOS (I believe) as it's related to the min required iOS SDK. So for Android it already works fine.

[2013-07-15 18:13] djnr opened #18 "How to use with flash pro CC?"
is there a method/instructions to use this with flash pro?

[2013-07-16 08:09] alebianco commented on #18
don't know, never tried
i suppose it will be the same as flash pro cs6
http://www.adobe.com/devnet/air/articles/using-ane-in-flash.html

[2013-07-16 18:34] djnr commented on #18
Thank you!

Jenaro Diaz
djnr@djnr.net

On Jul 16, 2013, at 3:09 AM, Alessandro Bianco notifications@github.com wrote:

[2013-07-17 07:41] #18 closed, assigned to alebianco

[2013-07-19 22:16] nicocolascrete opened #19 "No GA datas with 1.23 and PackageInspectionFailed with 2.0.4"
Hello,

I'm trying to use this extension in my iOS app but don't seem to be able to get the tracker data in GA with "app" profile.. I use the 1.23 version.

I'm trying with 2.0.4 version but I can't install the application... I compile ( air 3.7 & iOS 6.1 ) in app-debug and if I try to install I have this error.
04 - ios-install-ipa:
     [exec] Installation Error: PackageInspectionFailed.

Any id

[2013-07-23 11:18] SlavomirDurej opened #20 "Compiling with Air SDK 3.8 fails"
First of all, thanks for all your hard work on this extension it's really useful!

It works well, when I use AIR SDK 3.7, however when I try to use Air 3.8 (which I have to for other reasons unfortunately, due to a certain bug in 3.7..) I get this error message :
Packaging failed!
Packaging error message:
Compilation failed while executing : ld64
Packaging output:
ld: -pie can only be used when ta

[2013-08-04 12:08] profelis commented on #20
have same problem (some info here http://forums.adobe.com/message/5345743 )

[2013-09-08 09:57] #10 closed, assigned to alebianco

[2013-09-08 09:57] #14 closed, assigned to alebianco

[2013-09-08 10:00] alebianco commented on #20
the new release should support air 3.8 without issues

[2013-09-08 10:00] #20 closed, assigned to alebianco

[2013-09-08 10:00] alebianco commented on #17
the new release should support air 3.8 without issues

[2013-09-08 10:00] #17 closed, assigned to alebianco

[2013-09-09 08:26] SlavomirDurej commented on #20
thank you alebianco.
My app made with AIR 3.7 is already in store now, but perhaps on the next one I'll be able to use 3.8 :)

[2013-09-18 13:58] fu-iq12 commented on #20
Hi, thanks for the update!
could you commit the updated ANE in the development branch?

[2013-09-18 14:06] alebianco commented on #20
nope, the dev branch is now under active development to support the final version (v3) of the Google Analytics SDK
the previous version has been merged into the master branch, you should be able to use that release with air 3.8

[2013-09-18 14:11] SlavomirDurej commented on #20
cheers Alessandro!..

btw, have you tried it with Air 3.9 as well ? We have to use 3.9 shortly as 3.8 doesn't support the new iOS7 icon sizes..

[2013-09-18 14:14] alebianco commented on #20
i'm not expecting any changes on the native extensions front from AIR 3.9, so you should be able to use it straight away ... but since you never know with these things and given that i take my sweet time to make an update, i'd suggest you to try it asap with the beta version and eventually raise an issue so i can plan it in my pipeline

[2013-09-18 14:33] fu-iq12 commented on #20
Since the latest ANE is 3 month old and the AIR3.8 update was 10 days ago I assumed that ANE wouldn't work but it does.

Thank you again! Great extension!

[2013-09-18 16:22] SlavomirDurej commented on #20
just tested v2.0.4_201307011119 with AIR 3.9 Beta. Unfortunately tracking wasn't showing up.. Does it still works with GA web profiles ? Or it needs to be a mobile type now ?

[2013-09-18 16:47] alebianco commented on #20
exclusively app profiles, the use of web profiles is discouraged in the new versions of the analytics sdk (2.x and 3.x)
if you need to keep using a web profile you'll to use an older tag (1.xx)

[2013-09-19 17:01] pierrickyamago commented on #19
Hello,

same issue with air 3.6 on iOS.

Best Regards

[2013-09-19 20:18] alebianco commented on #19
could you try the latest version in the master branch and let me know if it works?
also, does it fail both on the simulator and the device or just the device?

[2013-09-20 08:36] pierrickyamago commented on #19
Yes it works well with the latest version in the master branch!

Thank you!

Best Regards

[2013-09-20 08:39] alebianco commented on #19
glad to hear :)

[2013-09-20 08:39] #19 closed, assigned to alebianco

[2013-09-20 09:39] EljoB commented on #16
I'm also having trouble with building the development branch, trying to run the build script on Mac OS X (10.7.5).
After thinking that it might somehow be an outdated environment I'm having, I redownloaded latest Adobe AIR SDK and Android SDK (including platform API 8, Android 2.2).

I'm pretty sure I correctly modified the paths, but when I run ant, I get the following final output (omitting the

[2013-09-20 11:30] alebianco commented on #16
@EljoB
I think it's a different issue
looks like it doesn't find the analytics java library. can you verify to have _libGoogleAnalyticsServices.jar_ and _FlashRuntimeExtensions.jar_ in your _android/libs_ folder? to be precise the analytics library should be version 2.0.x in case you have to download it

[2013-09-20 13:20] EljoB commented on #16
Thanks for your swift reply. I know it's a different issue, but thought it'd be easier to have a single 'build process' topic. Sorry if that isn't the case.

I have both .jar files in that location and I can see that the build script is including them (or is trying to, at the very least). Because when I run ant in debug mode, the following output is right before the errors. Still don't have a clue

[2013-09-20 13:27] alebianco commented on #16
i'm trying to reproduce the issue with no luck
could you send me a detailed report of the steps you followed to run the build? which branch you checked out, which files you added or modified, where you run the script from etc ...

[2013-09-20 14:05] EljoB commented on #16
I'm working on a Mac and I already have XCode and iOS 5.1 SDK installed, hence my following steps were:

1) Download latest Flex SDK
2) Download latest AIR SDK
3) Download Android SDK + API 8 SDK Platform
4) Created 'ga' working folder on desktop and changed to that path
5) git clone --recursive https://github.com/alebianco/ANE-Google-Analytics.git
6) git checkout --track origin/development
7) git

[2013-09-20 15:10] alebianco commented on #16
ok, first thing, switch to the master branch, it has been merged recently and the current develop branch is instable
then try again and compare with my output (using the -debug flag) https://gist.github.com/alebianco/6638818
also try without changing the targetSdk and minSdk ... it shouldn't make a difference but let's play it safe ...

[2013-09-23 09:12] EljoB commented on #16
The master branch builds fine and results in a 'NativeGATracker-v2.0.4.ane' file. I was under the impression though, that I should use the development branch as that's the only one using the v3 protocol, but please correct me if I'm wrong.

[2013-09-23 09:29] alebianco commented on #16
yes the dev branch is using the v3 protocol, but the integration work started only last week and it's far from complete. It might work already, if we figure out the building issue, but I wouldn't suggest using it just yet.

The master branch is now using the v2 protocol which should still work fine with the app profile on google analytics. If it doesn't I blame Google ... but let me know and I'll

[2013-09-24 08:54] EljoB commented on #16
I've implemented the ANE file from the master branch and ran some tests. Seems to work nicely at the moment, so you don't have to rush anything for me. All your effort is already greatly appreciated! I'll keep an eye on future development of this extension.

Thanks!

[2013-09-24 08:57] alebianco commented on #16
awesome, i'll close the issue for now ... i've got some juicy news about the build process in the upcoming version, more updates in the next weeks :)

[2013-09-24 08:57] #16 closed, assigned to alebianco

[2013-09-26 08:34] zarnaagames opened #21 "Error"
HI.
I am implementing google analytics in my game. But its behaviour is strange.
In sample application which I created its working. But same code in my game is not dispatching any thing. In debug mode it prints 'Dsipatch running...noting to dispatch...'

Please let me know if I am doing anything wrong.

I am compiling with AIR SDK 3.5 on windows and 3.8 on MAC.

Waiting to hear from you
Thanks

[2013-09-26 11:53] alebianco commented on #21
This doesn't look like a bug report to me.
Try to give me some specific information, like which version of the extension are you using, on which platform you're deploying and such.
Also, if you previously created a sample app that was working, there's a good chance that problem lies in your code and not the extension itself.

[2013-09-26 23:58] zarnaagames commented on #21
Its fixed.
Thanks for quick reply. I forgot to add line tracker.buildview()...thats
why it was not dispatching anythng.
Now its working.

Thanks man

On Thu, Sep 26, 2013 at 5:23 PM, Alessandro Bianco <notifications@github.com

[2013-09-27 07:30] #21 closed, assigned to alebianco

[2013-09-28 00:47] zarnaagames opened #23 "Some events are not getting tracked"
Hi,
I tried an example that you provided.
## Here is my code-

// Track an event
tracker.buildEvent("click", "button").withLabel("play").withValue(10).track();
tracker.buildEvent("click", "button").withLabel("stop").track();
tracker.buildEvent("swipe", "screen").withValue(1).track();
tracker.buildEvent("app", "quit").track();
##  tracker.buildSocial("Facebook", "like").track();

Now I can see even

[2013-09-28 20:33] alebianco commented on #23
I'll have a look in the next couple of days and I'll let you know.
on which platform and with which version did you noticed the issue?
have you noticed any error reported in the device's console?

[2013-10-01 09:45] SlavomirDurej commented on #20
re :"if you need to keep using a web profile you'll to use an older tag (1.xx)"

Where do I set this tag ?

[2013-10-08 14:43] sattaman commented on #23
I have also noticed social events not being tracked, have used normal events instead

[2013-10-08 20:02] Eternalspirit commented on #23
I don't think an app is allowed to do +1 Google, like on facebook, etc. on behalf of a user, so it's probably impossible to track social events from an app (unless you can actually find a way to integrate those buttons directly into your app that then send a request to Google/Facebook, it's probably possible with Facebook graph API but I dunno about Google).

[2013-10-08 20:08] Eternalspirit opened #24 "Clarification required on some API usage."
Hey there,

Nice thing you have here, but I'm very confused about how some of the API works. I understand (well.. sort of) something like tracker.buildView("Home").track(); (simply sends a response to the server that the user visited a page and to give it the "Home" label in the analytics page), but others are not so obvious. For example:

tracker.buildEvent("swipe", "screen").withValue(1).track()

[2013-10-08 20:48] alebianco commented on #23
@sattaman & @zarnaagames a fix is coming, don't despair
@Eternalspirit the extension is not meant to do have any kind of interaction with social networks. after your app makes that kind of action, using other extensions, you can track it on analytics. that's it

[2013-10-08 23:00] alebianco commented on #24
I guess some basic understanding of google analytics is required in order to use it :)
The extension in only providing a fluent and streamlined API to expose the Google Analytics SDK in AIR
I agree that the docs can be more exaustive but it's not my focus at the moment, considering that everything is covered in detail by Google's doc pages ( like https://developers.google.com/analytics/devguides/c

[2013-10-08 23:06] Eternalspirit commented on #24
Hmm.. I do notice some links to advanced stuff at the bottom there, so I will check it out! And I'm assuming the constants used in the API are available in the source code, so I will check that out as well!

Yeah, I sort of just got thrust into doing this for my work, and I have zero experience with GA. Guess I will just have to learn on the fly!

[2013-10-08 23:08] Eternalspirit commented on #23
@alebianco That makes sense. :)

[2013-10-08 23:15] alebianco commented on #24
It's not too complex even for a new starter. Have a look at the Analytics dashboard and the official Google documentation, it's pretty clear.
The extension allows you to do (most of) the same things, just with a slightly different sintax.

[2013-10-11 10:38] alebianco commented on #23
I verified and fixed the bug on Android but I still need to check it on iOS.
Have you experienced the same problem on both platforms?

[2013-10-11 11:21] alebianco commented on #20
https://github.com/alebianco/ANE-Google-Analytics/releases

[2013-10-11 11:48] #24 closed, assigned to alebianco

[2013-10-11 18:33] #23 closed, assigned to alebianco

[2013-10-18 18:51] denysaw opened #25 "Tracking doesn't work in APK built in FlashBuilder 4.6 (AIR 3.8, android)"
Hi, Ale!
I'm trying to use your GA ANE in AIR/android FlashBuilder project.
Doing all strictly the same way as you described in guide.
Testing in standalone emulator(BlueStacks) and on real phone(by re-installing released APK).
On GA using Mobile App Data tracking profile, not Universal one for sure.

Analytics.isSupported() shows true, but tracking doesn't work nor in Real-time overview nor on us

[2013-10-18 22:12] alebianco commented on #25
I don't have FB installed to try it, but it souldn't make any difference
I don't really know about the "real time" section on the dashboard, it should display your data but i honestly never tried it much.
What I often noticed is that the dashboard is setup to display the hits of the last weeks up until "yesterday". Are you positive that in the "overview" screen today's data is selected and no data

[2013-10-19 08:06] denysaw commented on #25
I tried a lot on real phone too, so I can't say will it work on BStacks or no, but it says it's Supported(isSupported() returns "true") even on BlueStacks.

I thought too, that maybe real-time section won't work for Mobile App Profile, but already 4 days passed and NO info on usual dashboard (0 visits, etc.)

I used GaForFlash (http://code.google.com/p/gaforflash/) before trying to use your extens

[2013-10-19 08:29] alebianco commented on #25
The information on building is just for people interested in fiddling with the code and manually rebuild it ... and a reminder for me. You don't need it, if you just want to use the extension all you need is the compiled ane file.

Can you set the extension in debug mode and then check the device logs to see if there're any entry with the tag GAV2 or ANE ?

[2013-10-19 13:42] denysaw commented on #25
Aha. Clear. Ok, will try debug mode log on phone in monday. Thanx!

[2013-10-21 14:16] chatmurai commented on #25
Hi @alebianco,

I just tested your ANE on iOS and Android devices (iOS 7, Android 4.3), using AIR 3.9 + Flash Builder 4.7 and I had a look to devices logs as you suggested to @denysaw , but I found nothing related to GAV2.
Each call to ITracker methods falls silently.

[2013-10-21 14:33] denysaw commented on #25
WoW. Thank you, I hadn't time to check logs today. So same problem, yep?

[2013-10-21 14:38] chatmurai commented on #25
Yep same. I had a look in at the project sources and tried to figure out what was going wrong, but I'm not that good at Java and Objective-C !

[2013-10-21 14:41] denysaw commented on #25
Same here ) Then we'll be praying to Alebianco De Creator ;) And hope, that it's fixable at all ;)

[2013-10-21 14:57] alebianco commented on #25
not even generic errors in the logs? and it happens on both iOS and Android?
ps: you may want to use an earlier version while I investigate

[2013-10-21 16:47] denysaw commented on #25
If it'll take couple of days - I can wait. Wanna use latest build ;) Thanx!

[2013-10-25 10:41] alebianco commented on #25
Got some news guys.

The tracking DOES work and the real time view on analytics does show the right amount of information in (nearly) real time. The normal overview page takes a bit longer to show the data, like 5-10 minutes.

The problem is the delay between when you track the data and the time it's actually sent to the servers.
There's a 180 seconds delay between dispatches to the server, everyt

[2013-10-28 17:27] denysaw commented on #25
Hi, Ale! Hm... So you did all those things with APK built in FB? For me problem 100% persist. I've waited a lot more, than 180sec )) 10 mins and 0 visitors in Real-Time and same zero in usual Dashboard. So for me tracking doesn't work :(

[2013-10-28 17:40] alebianco commented on #25
you waited 10 minutes with the app running?
try checking out my demo project https://github.com/alebianco/ANE-Google-Analytics-Demo and see if you get some data from that one instead

[2013-10-28 17:51] denysaw commented on #25
"you waited 10 minutes with the app running?" - Sure running, yep )
I tried, the same. So have you tried it to build with FlashBuilder?

[2013-10-29 09:08] alebianco commented on #25
Nope, as I said, I don't have a license for FB, so I can't try.
It should make no difference what IDE do you use (and if it does, throw FB out of the window) and the extension itself is working fine from what I can see.

Try sending me an email and detail the project setup, flex/air versions, details on the analytics profile etc, everything you can think of. Let see if i can help you out anyway.

[2013-10-29 09:15] chatmurai commented on #25
Hi @alebianco, sorry for the delay but as I am about to release my app on both iOS and Android platforms, the past days have been sleepless.

To be honest I had no time to test again your library, and I temporarily switched to the native Google Analytics SDK, which is a pain. As soon as the app is submitted to Apple & Google, I'll give it a try again, because as I said earlier, your implementation

[2013-10-29 18:50] denysaw commented on #25
"Nope, as I said, I don't have a license for FB, so I can't try."
You can try trial one. Or use crack just for test.

App xml contains: <extensionID>eu.alebianco.air.extensions.analytics.NativeGATracker</extensionID>
Flex SDK version: 4.6.0
AIR SDK version: 3.8
On GA: "All Mobile App Data" tracking profile. No customizations. Using 100% it's trackID.

[2013-10-30 09:38] alebianco commented on #25
did more tests with the same flex and air sdk, still can't see the problem. I'll try with FB, but it's going to take some time get it up and running.
In the meantime, can you check two things:
1) the android logs, through the monitor app, you should see something like this https://gist.github.com/alebianco/7229718 (tracking a string, dispatch time set at 45sec)
2) is the extension packaged into th

[2013-10-30 09:41] denysaw commented on #25
Ok. Will check logs.
I sent you in 1st post screen with those settings: http://puu.sh/4Sarx.png
Thank you. Hope you'll find a time to check it.

[2013-11-06 14:13] SBRK commented on #25
I'm experiencing the same problems...
In the logs I have :
Unable to read a property, falling back to default value. (Exception:[name:NullPointerException, reason: null, method:TrackData:trackEvent]

[2013-11-06 14:21] SBRK commented on #25
I uncommended these in the app.xml and it seems to be working now...

android.permission.READ_PHONE_STATE
android.permission.ACCESS_NETWORK_STATE
android.permission.ACCESS_WIFI_STATE

It would be cool to say in the wiki which permissions are needed for the ANE

[2013-11-06 16:10] alebianco commented on #25
good point @SBRK
the analytics sdk for android (https://developers.google.com/analytics/devguides/collection/android/v2/) requires android.permission.INTERNET and android.permission.ACCESS_NETWORK_STATE as they're defined in my demo project (https://github.com/alebianco/ANE-Google-Analytics-Demo/blob/master/build/descriptor.xml).

can't remember if AIR has a predefined set of standard permissions,

[2013-11-14 21:59] denysaw commented on #25
Heh, really guys! Thank you a lot! All was in ACCESS_NETWORK_STATE permission missing. Better to write it same BIG letters on wiki page so users would know. So it's not issue, all worx great. Thank you for support! BYE!

[2013-11-14 21:59] #25 closed, assigned to alebianco

[2013-11-15 08:37] chatmurai commented on #25
Glad to hear this ! I'll give it a try with the next project I am beginning on next monday !
Thanks for your work again.

[2013-11-25 22:36] doronkatz opened #26 "Android not getting GA reports"
Hey mate,
Im working on a project using Air 3.8, for both iOS and Android. Whilst on iOS im getting Google Analytics back, im not getting anything for Android. Im testing on the devices, as well as even pushing an update to Google Play Store, but Android is not giving me back anything..

Same code-base so it should work for both if it works for one, right?
Thanks

[2013-11-25 23:11] doronkatz commented on #26
Sorry duplicate realised closed issue prior.

[2013-11-25 23:11] #26 closed, assigned to nobody

[2013-11-25 23:21] doronkatz opened #27 "buildSocial doesnt seem to work"
Hey mate,

So im trying on both iOS and Android to track
tracker.buildSocial("Facebook", "like").forContent(currentVideo.title).track();

Whilst the other analytics work, i dont seem to get anything for that. Not sure if i am doing it the right way, and i noticed on your example you dont have the forContent part, but having tested for both this and twitter, it doesnt seem to trigger.

[2013-11-26 08:48] alebianco commented on #27
have you tried without the content as well?
also, you get anything from the device log? error reports, warnings, whatever ...

[2013-12-17 13:21] QasimQureshi commented on #27
Wish there was a way to test this extension in code, like a debug panel.

I've added the ANE to my project(not the SWC, as instructed in the documentation), copy/pasted the import eu.alebianco ... tracker.buildView("Home").track();

When I go to the Analytics dashboard, in Real-time>Events, nothing shows. Not sure what's wrong. In the analytics dashboard, I'd set the app up as a "mobile app" rathe

[2013-12-19 15:45] EljoB opened #28 "[Feature Request] Add currency code to TransactionBuilder"
It would be great to have support for multiple currencies when tracking mobile in-app-purchases. It seems like Google has added this feature to their own SDKs for both Android and iOS so it should be possible to wrap around it.

[2013-12-20 21:18] alebianco commented on #28
thanks for pointing that out, I didn't noticed they had added that new property.
I've added a task on trello for this change.
The work to support the new SDK is already in progress so this will be done as soon as the rest of the integration is ready, at some point in January probably ...

[2014-01-03 17:06] jBachalo opened #29 "Error on deploy to iOS7"
Getting a strange error on deploy-publish

Invalid input.

Id: -pie can only be used when targeting iOS 4.2 or later

Im compiling with the latest AIR(3.9) SDK using the FlashCS6 IDE.

[2014-01-14 12:01] tommyarnott commented on #29
We are also getting the same issue. This post sums things up well: http://forums.adobe.com/message/5325016

Are there any plans to look into a fix? Or is there a known workaround using Flash CS6?

Thanks in advance.

[2014-01-14 14:58] alebianco commented on #29
thanks @tommyarnott for the article
they're suggesting to increase ios_version_min value to 4.3, but my extension has been using that value for almost a year.
the latest build on master should already have been done with AIR 3.9 but I'll rebuild it just in case.
in case the problem persist, could someone provide a simple project to show the issue?

[2014-01-14 15:18] tommyarnott commented on #29
Thanks for getting back @alebianco. If you could rebuild that would be great. If it doesn't work I'll try to get you over a simple CS6 project as an example with the error being kicked out.

[2014-01-14 15:38] alebianco commented on #27
sorry about the delay but as you can see from the [screenshot](https://www.dropbox.com/s/8kktylvffd7czfs/Screenshot%202014-01-14%2015.33.40.png) the social media events are reported correctly from both android and ios with both set and unset media content

just be aware that social events are not regular events, you'll need to setup a custom dashboard to see them (or at least it's the only way i f

[2014-01-14 15:38] #27 closed, assigned to alebianco

[2014-01-14 15:45] alebianco commented on #29
just pushed the update, see if it works

in other news, that was my 200th commit on the project, it needs some kind of celebration.

[2014-01-20 12:23] sumeetbasak opened #30 "ASDoc Error while re-compiling ActionScript"
I am getting the following error while re-compiling the swc using the standard build and script.
the process works fine until, it starts generating the asdoc.

Heres a snipet  of the last output.
...
     [echo] [test] Finished running Unit Tests

asdoc:
     [echo] [asdoc] Generating ASDOC documentation
     [java] Adobe ASDoc
     [java] Version 4.6.0 build 23201
     [java] Copyright (c) 2004-2

[2014-01-31 21:19] innocuo opened #31 "Error creating database"
Hey,

this is such a great extension, but I can't make it work, looking in the log, it is complaining that it can't create the google-analytics database:

GAIDataStore openPersistentStoreWithError:] (GAIDataStore.m:89) ERROR: Error opening database with path /Users/user/Library/Application Support/iPhone Simulator/7.0.3/Applications/com.mypp.myapp/Library/googleanalytics-v2.sql: Error Domain=NSCoc

[2014-02-01 01:19] innocuo commented on #31
nevermind. It looks like this is a permissions error in the simulator. It works if, after I publish the app to the emulator, I copy a Library folder from another app into the app I have errors with. (in my case the path is /Users/[my user]/Library/Application Support/Iphone Simulator/7.0.3/Applications/com.myapp.myapp/ )

It works fine on the real device. I thought it didn't because google analyti

[2014-02-01 01:19] #31 closed, assigned to nobody

[2014-02-02 20:57] alebianco commented on #31
I dont' understand how you fixed it ...
In general, I never had any issue with the emulator regarding creating the sql db. Check the demo project https://github.com/alebianco/ANE-Google-Analytics-Demo for more details on how to setup it

[2014-02-05 08:44] alebianco commented on #29
since I dind't get any update or complaints, I'll assume it's all fixed and working as expected now

[2014-02-05 08:44] #29 closed, assigned to alebianco

[2014-02-05 08:47] tommyarnott commented on #29
Hi @alebianco,

Sorry my apologies for the lack of response -Yes the updated build worked fine for us. Thanks again for the fix.

[2014-02-05 08:48] alebianco commented on #30
you're using a recent SDK from the Apache Flex project right?
I've noticed the same issue in another project of mine but haven't investigated/fixed it yet.

did you managed to fixed it? otherwise I'd suggest to disable the asdoc generation for now and just compile the code ...
I'm reviewing all the build process anyway, trying to move away from ANT so I'll have a look at the problem before the nex

[2014-02-12 13:34] sumeetbasak commented on #30
thanks. I could not fix it but disabled the asdoc generator and moved
forward.

Well i have digressed from that problem to something else now - i want to
get this campaign tracking business solved by hook or by crook.

I am looking at solutions that can wrap an existing apks with some more
binaries ( like ad networks do to put pre-roll ads- like this network does
http://www.vserv.mobi/appwrapper/

[2014-02-13 16:27] devon-o opened #32 "Transaction shipping cost set twice"
Hello alebianco,

I haven't actually used this ane yet, but it looks quite nice and I thank you for releasing it.

However, while looking over the code to see how it works, I noticed that in TrackData.java trackTransaction() method when a Transaction instance is created with Transaction.Builder, the setShippingCostInMicros() method is called twice. For the tax setting, it should be:
builder.setTot

[2014-02-14 08:33] alebianco commented on #32
thanks for pointing that out, I'll fix it as soon as possible

[2014-02-15 09:26] alebianco commented on #30
there's a new branch on the repo, campaign_tracking, where I'm implementing the same feature now. I already have a first implementation done and there's a company testing it on one of their games so I should have a pretty good feedback on what works and what doesn't.
It would be neat to see how you implemented it and then eventually take the best of both solutions into the master branch.

[2014-02-18 10:00] par128 commented on #13
Hey, Alessandro!
When I'm trying to debug our app with Flash Builder,
the same problem occurs now (the latest NativeGATracker-v2.0.4.ane)
I get aforementioned error "PackageInspectionFailed".
When I remove NativeGATracker from the app, the debug build is successful and the app is deployed to the device.

Adobe AIR 4.0, building for iOS only

Can you help, please?

Thanks for the extension, we are

[2014-02-18 10:04] par128 opened #33 "PackageInspectionFailed while building for debug/iOS, AIR 4.0"
Hey, Alessandro!
When I'm trying to debug our app with Flash Builder on iOS device, building fails with "PackageInspectionFailed" error.
I'm using the latest NativeGATracker-v2.0.4.ane built for AIR 4.0.

When I remove NativeGATracker from the app, the debug build is successful and the app is deployed to the device.

Can you help, please?

Thanks for the extension, we are using it in in our YoWind

[2014-02-18 10:09] alebianco commented on #13
i haven't changed the build number for the past couple builds (i know! it was a mistake!) so, is it a recent build or an old one? can you try with the latest?
I haven't seen that problem since i removed the docs and surely i haven't added them back.

if that doesn't work drop me an email with the log of the error and the app descriptor please

[2014-02-18 11:05] alebianco commented on #33
as i said in the other comment (and i'm reposting here just for tracking's sake):

I haven't changed the build number for the past couple builds (I bknow! it was a mistake!) so: is it a recent build or an old one? can you try with the latest?
I haven't seen that problem since I removed the docs and surely I haven't added them back.

If that doesn't work drop me an email (or post here) with the log

[2014-02-25 02:37] stugorf commented on #18
djnr,

Did you ever get great ANE to work in Flash Pro. I am trying to implement in Flash Pro Cc and followed the instructions from the Adobe devnet and it links fine. I then imported using
import eu.alebianco.air.extensions.analytics.Analytics;
import eu.alebianco.air.extensions.analytics.api.ITracker;

However, when compiling i get  error: 1172: Definition eu.alebianco.air.extensions.analytics:A

[2014-02-25 02:41] djnr commented on #18
Copy the folder NativeGATracker-v2.0.4_201401140301 to your project folder, and add the ANE path on the AS3 settings, that makes it available.

[2014-02-25 02:59] stugorf commented on #18
djnr, thanks for the quick reply. I added the folder to source path in CC and then tried as a folder in Library path and still my imports cannot find the classes. The folder is in the root of my project but I am not using FB or FD to build my project, just Flash Pro CC. Thank you for any further thoughts...

[2014-02-25 03:03] djnr commented on #18
Did you added in the library path as an ANE? by clicking the ANE button?

[2014-02-25 10:00] sumeetbasak commented on #30
i need to check test my solution, i was busy firefighting projects and could not spend a lot of time.
will do that now.

[2014-02-27 08:29] sumeetbasak commented on #30
My solution failed, how ever while testing your campaign tracking i was wondering how would you set the INSTSLL_REFERRER boradcast tag to AndroidManifiest.xml? do u have an example of how to use it?

[2014-02-27 08:47] alebianco commented on #30
take the release from the feature branch https://github.com/alebianco/ANE-Google-Analytics/tree/campaign_tracking
and check the implementation in the demo project https://github.com/alebianco/ANE-Google-Analytics-Demo/tree/tracking_campaign

(i just realized the branch names are different, damn it!)

[2014-02-27 08:47] alebianco commented on #30
i'll close the issue since it's completely off topic now. raise another one with the proper subject if you need more info

[2014-02-27 08:47] #30 closed, assigned to alebianco

[2014-02-27 17:06] timoisalive opened #34 "versionNumber as app version"
The app version is currently read from versionLabel tag in the app descriptor. It could maybe fallback to versionNumber tag, in case someone's not using the versionLabel tag.

[2014-03-02 00:32] sumeetbasak opened #35 "getReferrer getCampaignData function returns null"
While testing the Campaign Tracking branch, i realised that the getReferrer and getCampaignData returns null even though the log cat shows Google Analytics receiving the referral info via adb.
Any idea how i can get the same referral information in actionscript?
I could not get the ANE Google Analytics Demo to work - there were no build.xml to build the project and i was clueless on building it.
L

[2014-03-02 15:14] alebianco commented on #35
it is possible that it's not working properly yet (as it is still in development/testing and all) altought it's strange because i've been using it quite regurarly and it seemed to be working, on Android at least.

for the campaign it's more about the app descriptor file (check the demo one under the build folder) and how you launch the app.

I'll put down a task to detail how to build the demo but

[2014-03-04 08:34] sumeetbasak commented on #35
May be it has something to do with the air version.
the app.xml looks like this:

[code]

I realised, that you did not add the INSTALL_REFERRER. if i don't add the INSTALL_REFERRER, GATracker is not activated.

[2014-03-04 10:00] alebianco commented on #35
Yes, the INSTALL_REFERRER is needed if you want to get the google store installs informations.
you'll also need the additional intent-filter with the url scheme if you want to launch your other links containing campaign data.
All of this will be obviously documented once I merge into master and that won't happen until I'm happy about how it works ...

Going back to your issue, now that you have th

[2014-03-04 14:54] sumeetbasak commented on #35
I am testing it the way Google suggests.
I use adb to broadcast the INSTALL_REFERRER intent to the specific app and track it in logcat.
The log cat shows campaign data received, but the flash variables print null in the textfields.

[2014-03-04 14:59] alebianco commented on #35
that is "correct".
i have no way of accessing the campaign information store by the install referrer, but they will be tracked with the next hits. check the data being sent to the analytics servers to verify.

those methods are only useful when launching the app from a url containing campaign data, for which you need the intent filter with the url scheme.

[2014-03-07 14:32] fwal commented on #28
Hi,
I'm also interested in this and by the new SDK, do you mean the new analytics sdk? Any ETA?

[2014-03-07 14:39] alebianco commented on #28
There's a "half implementation" for the current sdk (2.0.x) since Google added the feature only on the android library.
I hope to be able to give full support when I release the support for the new sdk (3.x).

I'm not going to give any ETA, but i'm testing the next iteration of the current release. It will be release when i can fix the last issues but if you want i can publish a pre-release alread

[2014-03-20 12:08] gnomjogson opened #36 "ANE Live Tracking"
Hi,

i've setup the Demo in FB4.6 and compiled the application properly on my phone (Android).
After connecting to a test-account, i've send several test "events" and "screen" tracks to this account. It says: "Hit data has been queued for dispatch". I also tried with manual dispatch, but the RealTime tracking in Analytics doenst show any activity.

I also tried your basic setup as discribed on git

[2014-03-24 14:54] ebhoren opened #37 "NativeGATracker-v2.0.4.ane [META-INF/ANE/extension.xml]: error 102: Invalid namespace http://ns.adobe.com/air/extension/4.0"
Error when compiling my application with AIR 3.7 using FB 4.7. I'm using release build v2.0.4.

Any ideas how to solve this?
Thanks

[2014-03-24 16:32] aduros commented on #37
Upgrade to AIR 4.0?

[2014-03-24 17:39] ebhoren commented on #37
Not an option on the project i'm working on.

[2014-03-25 09:37] alebianco commented on #37
In order to support the latest AIR i cannot downgrade the namespace for the extension. And i cannot downgrade the version of AIR supported since it will block any app being released for iOS.

You have 2 choices:
1) use an earlier version of the extension, and lose some features
2) check out the code, change the extension namespace and build your own version (kindly brought to you by the gods of op

[2014-03-25 09:45] alebianco commented on #36
The live data usually take between 1 and 5 minutes to show up on your dashboard and remains available for ~30mins.
Then it becames historycal data and gets archived to be processed in the other dashboards where you'll see it the next day.

This process **DOES** work, I use it all the time.

Just check that:
- you're using a recent release
- you're using a GA app profile (not a web profile)
- after

[2014-03-25 14:49] ebhoren commented on #37
I've use option 2 and it work.
Thanks

[2014-03-25 14:49] #37 closed, assigned to alebianco

[2014-03-25 19:06] gnomjogson commented on #36
Thanks for your reply
I don't question that it does works. It just can't get it working here somehow giving no error.
I use the latest release with mobile GA profile.
I tried with basic debug setup you mentioned now:

if (Analytics.isSupported()) {
trace("GA supported...");
var analytics:Analytics = Analytics.getInstance();
analytics.debug = true;
var tracker:ITracker = analytics.getTracker("XXX")

[2014-03-26 12:49] alebianco commented on #36
the code looks fine, just try to set

[code]

during debug so the hits will be dispatched every 5 secs instead of 3 mins.

Also, you won't any logs from the native library in your Flash tracer console. You need to use Console (iOS) or the Device Monitor (android) to see the logs of the actual device. There you'll find the traces with the GAV2 tag.

[2014-03-26 16:37] gnomjogson commented on #36
Hi,
Thanks for the hint of using the Device Monitor! The traces there pointed me to the error.
It was simple: The app was missed the ACCESS_NETWORK_STATE permission. So GA connect just shutted down silently.

Thanks again for your tips!

[2014-03-26 17:15] alebianco commented on #36
Nice!
if you upgrade to the prerelease i just posted today, it now checks the device permissions when you verify if the extension is supported. so instead of failing silently it would say that it's not supported (I guess i should add some kind of warning or notification maybe).

[2014-03-26 17:15] #36 closed, assigned to alebianco

[2014-03-26 18:00] gnomjogson commented on #36
Perfect!

[2014-04-01 08:31] apimobi commented on #33
HI Alessandro,

First, thanks for your ANE, it's nice job.
I think i have the same issue, here is the message :
Packaging failed!
Packaging error message:
Compilation failed while executing : ld64
Packaging output:
ld: -pie can only be used when targeting iOS 4.2 or later
If you have an idea?

Thanks, Vincent.

[2014-04-01 10:43] alebianco commented on #33
Hi Vincent,
can you tell which versions of AIR and of the extension are you using?
And, if it's not, can you try using the latest release?

[2014-04-01 13:09] apimobi commented on #33
I use NativeGATracker-v2.0.4.ane
And AIR 4.0.

[2014-04-01 13:11] alebianco commented on #33
Upgrade to 2.0.6 then, it's the first release supporting AIR 4.0 officially and your issue should be fixed with it

[2014-04-01 13:48] apimobi commented on #33
Ok i thought it was the last release.
I try it, thanks.

[2014-04-01 13:54] alebianco commented on #33
I setup the [releases page](https://github.com/alebianco/ANE-Google-Analytics/releases) a few weeks back, to keep better track
You can also subscribe to the [releases RSS feed](https://github.com/alebianco/ANE-Google-Analytics/releases.atom) to get a notification every time a new release comes out

[2014-04-01 16:07] apimobi commented on #33
Nice! Thanks.

[2014-04-02 13:23] apimobi commented on #33
Hi Alessandro,
in the NativeGATracker-v2.0.6_201402100702.zip it's always the NativeGATracker-v2.0.4.ane.

[2014-04-02 13:32] alebianco commented on #33
don't mind the file name, it was a mistake in the build file. have you tried if it works?

[2014-04-02 14:18] apimobi commented on #33
Well yes but i have issues and i think it comes from my package...:(
Thanks

[2014-04-16 13:38] lightmar commented on #35
Thanks for this great extension.
Are the getReferrer() and getCampaignData() methods already available in the current release?

[2014-04-24 14:21] Jonny-Bee opened #38 "Automatic Crash and Exception Tracking"
Does the ANE currently Support Automatic Crash and Exception Tracking? I can't seem to find documention on any such feature.

http://analytics.blogspot.co.uk/2013/02/5-things-you-should-be-doing-with.html

[2014-04-24 16:19] alebianco commented on #38
not yet, it's planned for the next major release, check the trello board

[2014-04-24 16:20] #38 closed, assigned to alebianco

[2014-04-30 10:27] apimobi commented on #33
Hi Alessandro,

Just to tell you i've made a new test with just your ANE (the version 2.0.6) and it works fine on my iOS and my Android. Thanks.

[2014-05-05 21:52] mlaframboise opened #39 "Fault exception, only occurs on iOS"
I am currently logging events using the following line:
m_googleTracker.buildEvent(category, action).withLabel(label).track();

Everything works correctly on Android, but whenever I call this line on iOS, I get the following error:
[Fault] exception, information=ArgumentError: Unable to read a property on method 'trackTiming'.

To my knowledge, it shouldn't even be calling trackTiming since I'm us

[2014-05-06 12:14] neuronix opened #40 "Improve documentation on usage"
Hi,

I've implemented a cross platform solution for GA with the web version & the ANE for mobile. I seem to only be getting web traffic events in the analytics backend.

Where can we view the mobile data? (the only "mobile" data I find is users trying to browse the web version on the mobile device)
Do we need to upgrade the account to "Universal analytics" ?
Is there anything else required for tra

[2014-05-08 16:01] selimanac opened #42 "Unable to read a property on method 'trackTiming"
Having this error: Unable to read a property on method 'trackTiming'
Flash Builder 4.7 + Air 4.0 - iOS

Any idea!?

[code]

Thanks

[2014-05-12 16:55] mrfrasier commented on #42
Same here, though I only seem to get it when I call timing:

ArgumentError: Unable to read a property on method 'TrackData:trackTiming'.
    at flash.external::ExtensionContext/_call()
    at flash.external::ExtensionContext/call()
    at Tracker/send()[/Users/alessandro.bianco/SkyDrive/Workspace/Personal/ANE-Google-Analytics/source/actionscript/agnostic/src/eu/alebianco/air/extensions/analytics/T

[2014-05-14 10:45] selimanac commented on #42
Any idea!?

[2014-05-14 12:12] mrfrasier commented on #42
It sort of seems to be an issue with the initialization of the ANE. These calls all work if you call them later in the app, but I was calling mine somewhat early-on.

I haven't been able to pin down what the "cut-off" period is, however.

[2014-05-14 14:18] alebianco commented on #42
sorry guys for the delay, i will need to do some tests to verify it but i was just looking at the code and i can say you two things:
1) there's no warm-up period, as soon as you get an instance of a tracker you can start using it
2) from the code i can see that the message that @mrfrasier posted is due to not being able to read either the category or interval properties. double check if you're sen

[2014-05-14 16:31] mrfrasier commented on #42
Sorry, I'm developing for both platforms at once, so I didn't think to specify. I tried it this morning and it worked 100% fine on Android. Will publish on iOS now (always a longer process) and see what's up.

[2014-05-14 20:05] mrfrasier commented on #42
Ok, got it to happen again on iOS. Looks like the duration passed was huge (coding issue on my end). So I guess null or values that are too large can cause this:

code:
googleTracker is [object Tracker]
Tracked GA Load Time with params: amfCall loadTracks 4294967295 null
ArgumentError: Unable to read a property on method 'trackTiming'.
    at flash.external::ExtensionContext/call()
    at Tracker/

[2014-05-15 08:10] alebianco commented on #42
would the duration number be bigger than the int limit? 2,147,483,647?
the API uses a uint which has a bigger limit, but then it might cause an error during the conversion in the native side i guess.
maybe i could change the API to make it a bit more consistent ..

I added a story on trello to keep track of it https://trello.com/c/9u7f8zOK/34-change-timing-traker-api-to-use-int-to-avoid-conversion

[2014-05-15 09:10] alebianco commented on #40
It says on the readme that the extension work with the (relatively) new "Application profile"
Universal analytics should relate only to web/js, it shouldn't affect the native mobile side

[2014-05-15 09:13] neuronix commented on #40
I finally found the missing link, I needed to create a mobile profile in the admin section. My naive impression was that GA would have universal reporting with my default profile. Sorry for bothering you.

[2014-05-15 09:13] #40 closed, assigned to alebianco

[2014-05-15 09:48] #28 closed, assigned to alebianco

[2014-05-15 09:48] #32 closed, assigned to alebianco

[2014-05-15 09:48] #34 closed, assigned to alebianco

[2014-05-15 10:49] #33 closed, assigned to alebianco

[2014-05-15 10:50] alebianco commented on #39
There's no way that that error is triggered by your as3 code. you must be tracking a timer somewhere ...

[2014-05-15 10:59] selimanac commented on #42
Looks like its a new compiler problem.
When i use "-useLegacyAOT no" for standart debug packaging it gives an error: "Having this error: Unable to read a property on method 'trackTiming/trackView/trackSocial'".

When i remove useLegacyAOT and package,  dont have any error and it works.

Thanks

[2014-05-15 11:05] #42 closed, assigned to alebianco

[2014-05-15 11:06] alebianco commented on #42
oh yeah, it could be, the AOT compiler is not very reliable yet

i'm not planning to give AOT official support until it's stable but i'll stick a new story to some tests with it. thanks for pointing it out

[2014-05-15 11:55] mrfrasier commented on #42
It shouldn't ever be that big, that was an error in my code. I've now put a check before any calls to stop any big numbers from going in should they happen.

Thanks again!

Sent from my iPhone

[2014-05-15 15:33] mlaframboise commented on #39
Nope, I've checked this a number of times. This is literally the only call in the entire application.

When I build for Android, this call works as expected, but once I build for iOS, it crashes with the posted error every time. There's something in the iOS code that is calling trackTiming when it should be using trackEvent instead.

[2014-05-27 12:27] SamYStudiO opened #43 "x86 support"
since lastest air version support android x86 would be great to add it to extension.xml

[2014-05-27 16:11] alebianco commented on #43
Added to the pipeline
https://trello.com/c/llNXcpG4/38-add-support-for-x86-android-devices

will probably be added with the next major release of the extension, not before AIR14 is our of beta

[2014-06-02 14:28] chatmurai opened #44 "Runtime error on iOS"
Air 13.0 / iOS 7.1.1
The followig error is raised at runtime with simple code :
<code>
if( Analytics.isSupported() )
{
var analytics:Analytics = Analytics.getInstance();
var tracker:ITracker = analytics.getTracker( 'UA-*******_-_' );
tracker.buildView("Home").track();
}
</code>
ArgumentError: Error #3500: The extension context does not have a method with the name getCampaignData.

[2014-06-02 15:57] alebianco commented on #44
That happens only on the 2.0.7 RC 1 but yes, it should not happen.
I already noticed the problem and an update to the release will be published probably this week

[2014-06-02 16:11] chatmurai commented on #44
Hi Alessandro, that's a good news since I updated all my projects to AIR 13 last week ;-)

[2014-06-04 10:50] #44 closed, assigned to alebianco

[2014-06-10 00:02] growch opened #45 "Where is latest release?"
There used to be a "release" folder with the ane and swc but can't find either of those now. Please advise and thanks for the extension.

[2014-06-10 08:05] alebianco commented on #45
I moved them to the releases page of github https://github.com/alebianco/ANE-Google-Analytics/releases
Judging by the amount of questions I get about this, I think i should make more evident :D

[2014-06-10 08:05] #45 closed, assigned to alebianco

[2014-06-10 12:25] growch commented on #45
Ah, thanks. Was staring right at me, but didn't see it.

[2014-06-16 15:32] mlaframboise opened #46 "ANE not included in download"
I went to download the latest version of the ANE to update my working copy, but it appears that the release folder containing the packaged ANE is no longer included in the ZIP file.

[2014-06-17 07:22] alebianco commented on #46
https://github.com/alebianco/ANE-Google-Analytics/releases

[2014-06-17 07:22] #46 closed, assigned to alebianco

[2014-06-17 18:37] mlaframboise commented on #39
As an update, this bug still occurs as of build v2.0.7 RC2. It is not possible to log any events on iOS; it still tries to call trackTiming instead of trackEvent when using the buildEvent function.

[2014-06-17 20:07] lrgsteven commented on #39
I can confirm the above report on iOS

![timingtesthit](https://cloud.githubusercontent.com/assets/6361385/3305796/63ddef8e-f65a-11e3-8b8b-519afbc7533b.PNG)

The above line was debugged on the device to reveal:

![timing](https://cloud.githubusercontent.com/assets/6361385/3305803/7467f728-f65a-11e3-9eee-3189c06f7af4.PNG)

I even tried another test case of

var testHit2:Hit = m_googleTracker.buildV

[2014-06-17 20:13] lrgsteven commented on #39
I tried these same debug tests on Android and the Hits have the correct types.

It seems that the Enum code is not functioning correctly on iOS.

I am using Adobe Air 13 and iOS 7

[2014-06-17 20:21] alebianco commented on #39
That's super weird. Are you trying on a device or on the simulator?
I'll do some more tests around this and thanks for the extra details, it will help me a lot.

[2014-06-17 20:24] lrgsteven commented on #39
I did the tests on the device and used a remote debugger.

My text editor is Flash Develop (Windows). However, all builds use Ant and Apache Flex http://flex.apache.org/

Thanks for your help. The ANE is much appreciated.

[2014-06-17 20:29] alebianco commented on #39
ok. I used to run most of my tests on the simulator on mac and never noticed it.
what about you @mlaframboise ? you are on mac or win?

[2014-06-17 20:35] mlaframboise commented on #39
I use the same environments as @lrgsteven (we're co-workers and he offered to help me look into the issue more).

[2014-06-17 20:40] alebianco commented on #39
good to know, it might be a packagin problem on windows (i don't think the IDE is to blame)
i'll focus my tests on that, thanks

[2014-06-19 20:16] mlaframboise opened #47 "Google Analytics User ID"
Are there any plans to add support for the User ID feature found in Android SDK v4 and iOS SDK v3?

https://developers.google.com/analytics/devguides/collection/android/v4/user-id
https://developers.google.com/analytics/devguides/collection/ios/v3/user-id

This would be really helpful to track users across multiple sessions/devices.

[2014-06-20 14:06] mlaframboise commented on #39
On possible workaround that could be done temporarily is to put the EVENT HitType on the bottom in HitType.as

It looks like iOS is just defaulting to the last HitType (in this case TIMING) regardless of what it should be, so if EVENT is at the bottom, it would make the ANE temporarily usable for the time being until a proper fix is implemented since we're only ever making buildEvent calls.

[2014-06-29 01:20] sprilucas opened #48 "TRACK PAGE VIEW"
Hello!
First I want to thank you for this library!

Using your code I wanted to do the following:
  var tracker: iTracker = analytics.getTracker ("UA-XXXX-3"),
tracker.buildView ("/ mypage") track ().;

In a view in google analytics "UA-XXX-2"  was created.  (with the name "miPage")

As I do so it does not create a new view .... I want to use an already created --> "miPage in UA-XXXX-3 "

 
I want

[2014-07-18 08:54] harry248 commented on #43
Any updates on this?

[2014-07-21 11:11] sumeetbasak commented on #35
Hey! been long i caught back on this project.
From what i knew last, the Campaign Tracking was still being tested and developed!
I understand that this part is complete and functional now? would love to try it out on an upcoming project.

[2014-07-23 14:29] SamYStudiO opened #49 "ane missing"
Hello, can't find ane from repository did u remove it?

[2014-07-23 15:25] alebianco commented on #49
in the releases page

[2014-07-23 15:25] #49 closed, assigned to alebianco

[2014-07-29 13:03] mlaframboise commented on #39
Have you managed to make any progress on this bug?

[2014-08-05 20:16] lrgsteven commented on #39
Howdy,
I finally got around to compiling from source and my build did not have the error seen in the binary distribution. Though, I noticed that the user.properties.eg was pointing to iPhoneSimulator instead of iPhoneOS and I can't help but wonder if that is the culprit. Was the binary built with the Simulator SDK instead of the device SDK?

[2014-08-11 16:06] amyyeh commented on #47
I second this enhancement request.  This would be great!

[2014-08-18 08:08] timoisalive commented on #43
I'm also looking forward seeing the Android x86 support... :)

[2014-09-03 13:50] sumeetbasak opened #51 "INSTALL_REFERRER / CampaignData does not work"
Hola!

I tried the latest build 2.0.7 ane and there is some good news and bad.

This is my basic setup apart from correctly adding the ane & swc in Flash CS6
# The manifest has this for android:

[code]
# The command used to broadcast the INSTALL_REFERRER is:

[code]
# The output

Here is the good news

I send a view request to testScreen and it is recorded in GA and i can see it in real time sect

[2014-10-01 20:53] ghost opened #52 "Could you attach a released ANE in this project?"
no Mac to build it :), :(

[2014-10-07 06:46] Vishal86 opened #53 "Custom dimension is not getting visible"
Not able to view the custom dimension in google analytics site when created using google analytics web page and setCustomDimension provided into the ANE.

Also, can we have a sample illustrating how to use the setCustomDimension through ANE.

[2014-10-07 09:05] Vishal86 opened #54 "Support of Demographics"
Hi,

Is there any support of demographic.
If it is can you provide us some snippets to be used.

[2014-10-07 09:28] Matan opened #55 "Unable to build IPA with AIR15 ASC2.0"
Hi,

Adobe release a hot-fix SDK to allow AppStore submission with the release of iOS8. Details here: https://forums.adobe.com/thread/1584796?start=120&tstart=0

Unfortunately compilation with the GA ane v2.0.7 RC2 renders the build a failure. Here is the compile error:

[code]

Any help? Suggestions? Android build works fine. For now my iOS app is submitted without tracking.

Thanks,
Matan

[2014-10-12 14:33] ghost commented on #52
sorry, not very familiar with github.
found it in the release page.
Thanks!

[2014-10-12 14:34] #52 closed, assigned to nobody

[2014-10-13 12:37] kobydo commented on #55
Same here.

[2014-10-30 11:34] fix89 opened #56 "Doesn't works"
Hi,
I'm trying to use your ane, but doesn't works. No errors runtime. Simply nothing tracked on realtime section on the google analytics web site. I'm using v2.0.7 RC2; AIR 15.0.302 ; iOS 8 on my iPhone 6

simple code:

import eu.alebianco.air.extensions.analytics.Analytics;
import eu.alebianco.air.extensions.analytics.api.ITracker;

var analytics:Analytics = Analytics.getInstance();
var tracker:I

[2014-10-30 11:55] alebianco commented on #56
The tracking might take some time (up to 180secs with the default value) to be sent to google servers, during which time the app must stay open. if it doesn't, it will be dispatched on the next lunch, but that might not happen during development because of the uninstall/reinstall process.

set the _dispatchInterval_ interval to something low, like 3 and set the _debug_ flag to true then keep an ey

[2014-10-30 12:20] fix89 commented on #56
Nothing... really strange. This is not my first app where I use your native extension (really thanks). Maybe some settings are wrong on google analytics consolle?

[2014-10-30 12:26] fix89 commented on #56
Or maybe I need to add something in the app xml descriptor?

[2014-10-30 12:33] alebianco commented on #56
just this:

[code]

which is going to be there if you're using any IDE.

is the extension reporting that is supported? are you getting anything on the device logs?

[2014-10-30 12:35] fix89 commented on #56
How can i get device log?

PS extension report that is supported

[2014-10-30 12:44] alebianco commented on #56
From the xCode organizer, select Device Logs for your device.
Also, can you try on the simulator and see if you have the same issues?

[2014-10-30 13:34] fix89 commented on #56
Nothing. No log :(

[2014-10-30 14:08] alebianco commented on #56
no logs at all or nothing about analytics? it should log something immediately when it's initialised

[2014-10-30 14:12] fix89 commented on #56
no logs at all...
![schermata 2014-10-30 alle 15 11 54](https://cloud.githubusercontent.com/assets/1288328/4844703/bfdf8ee8-603e-11e4-9259-73b2fd6420a4.png)

[2014-10-30 14:37] alebianco commented on #56
Not sure I can help much with that, looks like a problem with your system.
The only thing that comes to mind is: the device is connected to your machine, right? (i know, pretty stupid question).
Also, can you try the simulator? you might able to avoid this issue there ...

[2014-10-30 14:50] fix89 commented on #56
Now i've found this log:

Incident Identifier: 4082F993-8075-4007-AE2B-EE25E569D0FA
CrashReporter Key:   61871a3b45c887f9ab9e93946df0d472a297abae
Hardware Model:      iPhone7,2
OS Version:          iPhone OS 8.1 (12B411)
Kernel Version:      Darwin Kernel Version 14.0.0: Tue Oct  7 00:04:33 PDT 2014; root:xnu-2783.3.13~4/RELEASE_ARM64_T7000
Date:                2014-10-30 15:44:20 +0100
Time since

[2014-10-30 16:28] alebianco commented on #56
that's a crash log but i can't really say what was the cause.
maybe logging has to be enabled on the device? not sure...
(and please use something like http://pastebin.com/ for this things or the issue will be unreadable)

[2014-10-30 17:36] fix89 commented on #56
Solved. The problem was another native extension... one about notification (by distriqt). Removed, and now everything works. Sorry :)

[2014-11-02 11:39] alebianco commented on #56
Right, I had a similar issue but it should warn you when compiling if I remember correctly.
In the next release I'll make some adjustments so the extension will play nicely with others.

[2014-11-02 11:39] #56 closed, assigned to alebianco

[2014-11-21 09:57] andreivreja opened #57 "Delay on Android"
Hi, I've set the dispatch interval to 5 seconds. In iOS, I get the results in dashboard after 5(about that) seconds, while on Android it takes minutes(sometime doesn't even update). Anybody encountered this problem so far?

[2014-12-03 09:37] seyfullahbilgin opened #58 "where is the build.ant file?"
"use the build.ant ant script you'll find in the build folder, to build the project"

but i have not been finding this file...

[2014-12-03 09:54] alebianco commented on #58
my bad, it's build.xml in the build folder

[2014-12-03 18:09] vmccurley opened #59 "IDFA usage causing App Store rejection"
Apple is getting strict about apps using the IDFA (iOS Advertising Identifier) without actually displaying advertising. It looks like Google Analytics is using the IDFA.

Apparently Google has created a fix where it's possible to remove AdSupport.framework dependancy.
https://code.google.com/p/analytics-issues/issues/detail?id=387

Would it be possible to add a boolean parameter to enable/disable

[2014-12-03 18:16] alebianco commented on #59
No, it won't be possible to include it or exclude it at runtime but I can look at if it's possible to build the extension without that framework.
Eventually it will go into the next release so it won't be quick I fear...

edit: Added the task on the trello board https://trello.com/c/tIJluehh/48-ios-remove-dependency-from-adsupport-framework

[2014-12-03 18:41] alebianco commented on #55
An investigation on the ASC2.0 and the AOT compiler for iOS is going on for the next milestone. so far i didn't had much luck.
For now i can only guarantee it works with the legacy compilers ...

[2014-12-03 18:42] alebianco commented on #57
Is that specific to a particular version of android? in my previous tests all platforms had the same behaviours

[2014-12-03 18:43] alebianco commented on #54
No, no support yet but it's planned for next release
https://trello.com/c/dvNjNxoe/44-enable-demographics-tracking

[2014-12-03 18:44] alebianco commented on #53
I'll look into it but the fix will probably go into the next release ...

[2014-12-03 18:46] alebianco commented on #48
As far as I know views work fine on every platform.
Please use the latest release available and refer to the usage section for an example on how to do it
https://github.com/alebianco/ANE-Google-Analytics/blob/master/README.md#usage

[2014-12-03 18:46] #48 closed, assigned to nobody

[2014-12-03 18:54] alebianco commented on #51
the install referrer is, let say, a beta feature ... in the sense that i never managed to get it to track properly.
your process is correct and it's the same I was following during the tests. if your app is in the store you should get some data in the appstore specific page about tracking referrers but for some reason those stats don't show up on the main analytics dashboards.

I'll revisit the wh

[2014-12-03 18:55] alebianco commented on #35
please check #51 for updates from now on

[2014-12-03 18:55] #35 closed, assigned to alebianco

[2014-12-05 11:19] Vishal86 commented on #53
Hi Alessandro,

Thanks for the reply.

Just to confirm is there any provision of tracking IOS application through
the GoogleAnalyticsANE.

-Regards
Vishal Kumar

On Thu, Dec 4, 2014 at 12:14 AM, Alessandro Bianco <notifications@github.com

[2014-12-05 13:39] textoo opened #60 "Build not provided"
For those who don't own a Mac or don't want to deal with ANE building process, could you please provide the latest ANE built.

[2014-12-05 14:07] alebianco commented on #60
https://github.com/alebianco/ANE-Google-Analytics/releases

[2014-12-05 14:07] #60 closed, assigned to nobody

[2014-12-05 14:23] textoo commented on #60
oh sorry ! i didn't noticed the releases , thanks for all .

[2014-12-07 11:02] therabbitwindfall commented on #55
This bugs appears when you compiling ANE for simulator and trying to make device ipa and you not included all architecture. You must select armv7, armv7s, arm64

[2014-12-25 19:42] CoIin opened #61 "64 bit required for App Store submissions"
As you no doubt know, from Feb 1st new apps have to have 64 bit compatible binaries. Are you working on a 64 bit compatible ANE?

[2014-12-26 11:33] jpablogn opened #62 "Where is the .ane?"
Hi,

It seems like there is no .ane file.
Could you provide one?

I would like to test it, without having to compile it by myself (I do not know).

Thank you.
J. Pablo.

[2014-12-26 21:10] alebianco commented on #62
https://github.com/alebianco/ANE-Google-Analytics/releases

[2014-12-26 21:10] #62 closed, assigned to alebianco

[2014-12-26 21:15] alebianco commented on #61
Yes, there will be 64-bit support but I can't guarantee an ETA at the moment.

The next milestone is being built with 64-bit support from the beginning. I did some early test with AIR 16 beta already. I'm a bit disappointed at how flaky adobe's integration is but they're making progress.

The current release could possibly receive the same upgrade, depending on how much work it is and how late the

[2014-12-27 01:36] jpablogn commented on #62
Hello,

Many thanks alebianco, I will test it.

May I ask you 2 things:
1. I have found below project, and seems to be the same but without the need of using native extensions: https://developers.google.com/analytics/devguides/collection/other/flashTrackingSetupFlash#useAnalytics
   What is the point of using an .ane for something you can do without it (so that you don't have hardware dependencies

[2014-12-28 23:13] jpablogn commented on #62
Hello,

About point 1:
- I test the "goforflash" library (link below) and it is not working fine (some events works somo others do not):
  https://developers.google.com/analytics/devguides/collection/other/flashTrackingSetupFlash#useAnalytics
- I test you extension (NativeGATracker-v2.0.7rc2.ane) in a Motorola XT-615 (Android 2.3.7) and seem to be working perfectly (cogratulations!). I can see all

[2014-12-31 11:20] jpablogn opened #63 "How to include DEVICE_ID to track devices through different sessions?"
Hello,

I am using your ANE for tracking "pages" and "events" in Google Analytics:

// pages
tracker.buildView("/home").track();

// events
tracker.buildEvent("click", "play").track();

I would like to unify sessions of the same device by using a device identifier (DEVICE_ID):
https://support.google.com/analytics/answer/3123662

Google Analytics ask you to use this piece of code in order to provid

[2015-01-03 12:35] alebianco commented on #63
Hi Pablo,
It's not possible at the moment but it's a feature planned for the next release.

[2015-01-04 16:50] wanting252 commented on #61
Google Analytics ANE is also my delay stone to publish my game. Hope to hear a good news from you soon.

[2015-01-07 09:25] harry248 commented on #61
Thanks for your great work, your ANE works like a charm. I hope you can deliver a 64-bit update soon!

[2015-01-08 19:28] Mintonist commented on #51
"if your app is in the store you should get some data"

Tell me, please, if getReferrer() function from ANE work correctly or not? And where can I see "specific page about tracking referrers"?

Thank you

[2015-01-09 16:48] lucien144 commented on #61
:+1:

[2015-01-09 21:03] ZwickTheGreat commented on #61
+1

[2015-01-10 07:58] kavolorn opened #64 "Pure AIR SDK friendly build"
I noticed that you don't use much Flex itself. It would be nice to get rid of few incompatible lines and enable pure AIR SDK support. Logger from mx.*\* namespace is the only thing which should be remove as far as I see it.

[2015-01-12 14:52] johnd09 commented on #61
+1

[2015-01-12 15:36] alebianco commented on #61
Almost done guys.
I just need to upgrade google's native library because the current one doesn't support 64bit. this might cause some issues so finger crossed. i should have an update in the next couple of days

[2015-01-16 11:56] fix89 commented on #61
+1

[2015-01-17 01:47] wanting252 commented on #61
I go to this site everyday to see the update :))

[2015-01-18 10:08] sumeetbasak commented on #51
Thanks @alebianco this is functionality all AIR app/game developers need to get more acquisition of users and also tracking. i have in the past months moved on to Unity3D in an endeavour to find better tools to get the idea developed effectively. I shall get back to it hopefully soon and test it out.

[2015-01-19 13:12] wanting252 commented on #61
Any updates for 64 bit, sir?

[2015-01-20 13:21] halfjust commented on #47
+1

[2015-01-20 13:22] luisfgfurtado commented on #47
+1

[2015-01-20 17:59] leossmith commented on #61
:+1: cant wait :)

[2015-01-21 12:14] mogue2k3 commented on #61
Getting nervous!!!

[2015-01-21 12:20] alebianco commented on #61
I think I owe an update here ...

It's taking longer than expected because the native sdks have changed significantly in the meantime and i need to upgrade them in order to support 64bit. that required quite a lot of changes on the native side of the extension but i managed to leave the as3 interfaces untouched.

The code update is done, and the extension compiles ... but that's no guarantee.
I'm

[2015-01-21 12:27] mogue2k3 commented on #61
Yay!

I know you're working hard.
You're going to make us very happy when the new version comes out and we can check that everything works perfectly.

Thank you for your work.

[2015-01-21 13:19] laan commented on #61
just thanks for author! well job!

[2015-01-21 13:21] leossmith commented on #61
thanks :+1:  awesome work!

[2015-01-22 02:56] sfcal99 commented on #61
great job! May I know where is the extension you compile?

[2015-01-22 06:35] chadupton commented on #61
Thank you! Looking forward to it.

[2015-01-23 06:01] hampusboas opened #65 "How to build?"
Hello,
I've looked for a way to build the ane, but i cant seem to find one. Can you guys put me in the right direction,
Thanks
Regards Hampus

[2015-01-24 07:14] wanting252 commented on #61
It's nearly 1st Feb limit day from Apple. Are there any new updates, sir? :)

[2015-01-28 18:06] longngo78 commented on #61
Can't wait :)

[2015-01-29 02:35] wanting252 commented on #61
Don't know should I replace this ANE or not :(. Love Google Analytics, but cannot wait so long for upload new version :(

[2015-01-29 07:18] shivanno commented on #61
I love your work, this is the last 64 bit ANE i need ( no presure of course ) X)     :+1:

[2015-02-02 07:39] laan commented on #61
It is too long. So said.

[2015-02-02 09:20] wanting252 commented on #61
@Iaan Just replace this ANE by Flox to upload to App Store. Sadly I cannot delay my projects too long :(

[2015-02-02 13:21] laan commented on #61
@wanting252  Thanks for your reply. But what is Flox? Would you please give a detail page? Thanks again.

[2015-02-02 13:27] harry248 commented on #61
If you want to pay you can also use the Analytics ANE from Milkman Games: http://www.milkmangames.com/blog/tools/#ganalytics

[2015-02-02 13:29] gnomjogson commented on #61
@Iaan http://lmgtfy.com/?q=flox+gamea

[2015-02-02 13:41] laan commented on #61
@harry248  milkmanagames‘s ANE support 64-bit system?

[2015-02-02 13:50] harry248 commented on #61
Their GoViral and CoreMobile ANE's are 64-bit compatible since a few weeks now, so I expect their Analytics ANE to be compatible too. Haven't purchased this one yet.

[2015-02-02 13:56] laan commented on #61
@harry248  So, there is no Google Analytics ANE supports 64-bit system.

[2015-02-02 14:02] harry248 commented on #61
As I said - I don't know, because I did not purchase this extension yet. I purchased other extensions from Milkman Games and those are already 64bit compatible. You will have to ask them but I expect the analytics extension to be compatible too.

[2015-02-03 05:23] jazzjoe commented on #61
all milkman ane is 64 bit compatible atm. however if you could use the Alebianco's ANE for free with the same function, that would be great. I could wait for a little more, but in the mean time I suggest you guys try Flurry instead of GA. 64 bit version of Flurry could be found in freshplanet

[2015-02-04 05:55] djnr commented on #61
+1

[2015-02-06 11:05] hassanMak commented on #61
Thanks for your great work.
I hope you can deliver a 64-bit update soon!

[2015-02-06 11:45] ZwickTheGreat commented on #61
Any update? Should I wait? :)

[2015-02-06 12:36] fwal commented on #64
Needed this as well so I made a pull request: #66

[2015-02-09 19:30] halfjust commented on #61
+1

[2015-02-11 11:19] mingoes commented on #61
Looking forward!

[2015-02-16 10:42] leossmith commented on #61
any news on this?

[2015-02-16 11:14] Matan commented on #61
I'd suggest buying the milkmangames extension, I did, it works perfectly for iOS x64 and Android.

[2015-02-17 09:25] coppepam commented on #61
+1

[2015-02-20 09:35] ghost commented on #61
I need 64 bit ANE! Please!

[2015-03-01 12:23] fix89 commented on #61
news?

[2015-03-04 07:39] vicker commented on #61
+1

Thumbs up for the great work.

[2015-03-06 23:59] honestdollaricloud commented on #61
I know it is too much to ask since it's free, but could you at least let us know if you plan to update or not? and an ETA on this? just to see if decide to wait or get another solution... thanks and we really appreciate your work!

[2015-03-06 23:59] djnr commented on #61
I know it is too much to ask since it's free, but could you at least let us know if you plan to update or not? and an ETA on this? just to see if decide to wait or get another solution... thanks and we really appreciate your work!

[2015-03-07 11:22] leossmith commented on #61
i already have gone with milkmangames ane and it works perfectly. unfortunately i had to drop this.

[2015-03-09 18:22] alanlanglois commented on #61
+1

[2015-03-12 13:46] mparrett opened #67 "Universal / 64 bit support"
Would it be possible to update for 64 bit support? I tried but I'm in way over my head. This would allow us to build App Store compatible IPAs with the newest versions of AIR. Thanks!

[2015-03-18 21:23] mparrett commented on #67
Just wanted to mention I finally succeeded with this. Includes updating most things to v3 API. Happy to issue a pull request.

[2015-03-20 09:16] jumzijie commented on #67
hi mparrett, I would like to make a pull request for your updated one!

[2015-03-26 17:36] whiteali commented on #67
@mparrett  Thanks for your work :)
Can you provide the .ANE file ?
Maybe send it to me directly ?
Thanks !

[2015-03-26 19:11] mparrett commented on #67
@whiteali - Sure. Added the .ANE to my fork: https://github.com/mparrett/ANE-Google-Analytics/commit/87b2857f4667db5ba588b6cadc701afee5c88f95

Remember, some of the eCommerce tracking was hastily disabled because we had a deadline to meet. :) Happy to continue working on this as time permits though.

[2015-03-26 23:17] nitacawo commented on #67
@mparrett  first of all thank you for your work. Tried your ane build with  latest air 17 beta. Test code seems to work fine on Ios,  but do you have  any idea why it might return on android
ArgumentError: Error #3500 .

code

[code]

[2015-03-26 23:41] mparrett commented on #67
@nitacawo Just a guess, but this might have something to do with me compiling with java 1.8. We're working on the first android build of our game so we hadn't caught this yet. I'll recompile with 1.6 and update the ANE.

[2015-03-26 23:44] mparrett commented on #67
@nitacawo Just pushed a new ANE. Let me know if that works better for you.

[2015-03-26 23:56] nitacawo commented on #67
@mparrett  checked, unfortunately error still occurs.

[2015-03-27 00:43] mparrett commented on #67
We're finishing up our Android build in the next weeks, so I'll see if I can dig into this a little deeper. There's a good chance some of my modifications to the actionscript need to be accounted for in the java source.

[2015-03-27 00:47] nitacawo commented on #67
@mparrett  thanks for trying. Good luck with your project. Well we can still use old ane for android and 64bit for ios for now.

[2015-03-27 14:53] fix89 commented on #67
Hi @mparrett! Where can I found your .ANE file? Thanks for your work!
EDIT: Ops, I found it ;)

[2015-04-02 17:52] VincentPuget commented on #67
Hi,
Thank for your work @mparrett !

However, i'm trying your ANE version included 64bits support and nothing is sent to Google Analytics.
The "real time" panel in Google Analytics interface stay blocked at 0.
(Tested on iphone 4S on IOS 8.0 and iphone6 on IOS 8.2)

I had re-build this ANE.
On Android, no problems (i have replaced setAppVersion by GA_setAppVersion and getVersion by GA_getVersion i

[2015-04-02 17:57] mparrett commented on #67
@VincentPuget Thanks for the feedback. We found the real-time panel would stay at 0 unless we sent events. As it was a rushed job, I mainly focused on that functionality. Since page views didn't seem to make a difference in the real-time panel, I may have left something broken there. Next time I'm in the project I'll take a look. Best of luck!

[2015-04-02 17:59] mparrett commented on #67
@nitacawo Looks like @VincentPuget highlighted some issues for me to fix with the Android/java - so I'll try and get that in next time I'm working on the project. (Hopefully in the next day or so)

[2015-04-02 18:29] VincentPuget commented on #67
@mparrett Effectively, your ANE works fine with events (real-time panel is updated). Thx !

[2015-04-02 21:05] VincentPuget commented on #67
@mparrett I have find a way to use tracker.buildView(page).track();
In Tacker.m (ios side), in this method : FREObject trackView(FREContext context, id tracker, FREObject *data) (line 406 ~) :
add [tracker set:kGAIScreenName value:screen]; just before [tracker send:[[GAIDictionaryBuilder createAppView] build]];

[2015-04-07 16:25] SlavomirDurej commented on #61
any chance you would share a ANE binaries that are compatible with the newest iOS8 apple requirements ? Even if not everything work perfectly ?
Cheers!

[2015-05-11 02:37] vicker commented on #67
@mparrett It is great to see an update of the ANE with 64bit. Thumbs up.

However, I am not able to compile the AIR app and push it over to iOS. It keeps returning the following error, which sounds like it is not 64bit compatible.

Error: libNativeGATracker.a are required to have universal iOS libraries. Please contact the ANE developer(s) to get the same.

I am using NativeGATracker-v2.0.7rc2.ane

[2015-05-11 04:09] mparrett commented on #67
@vicker Check out the `update-to-v3-and-64bit` [branch](https://github.com/mparrett/ANE-Google-Analytics/tree/update-to-v3-and-64bit/bin). There's an ANE in the bin folder that should work for you. Also, if you try building it, make sure you're using java 1.6.

[2015-05-11 04:13] vicker commented on #67
@mparrett Tried but not working as well. I am using IntelliJ Idea to build the app and it seems the ADT command is incorrect, maybe that is the root cause... still trying.

[2015-05-11 04:24] mparrett commented on #67
@vicker I haven't tested packaging this for simulators btw. We're always using `-target ipa-app-store`. Possible when I built the 64bit version, support for those wasn't included. (From what I understand you have to specify some other architectures in the build settings)

[2015-05-15 08:14] vicker commented on #67
@mparrett It works perfectly now. Previously stuck with the ADT config and that's nothing related to the ANE itself. Thanks mparrett.

[2015-06-18 14:12] mirozoolab commented on #47
+1

[2015-06-19 00:00] hrisunko commented on #67
@mparrett Thanks for the 64bit version on the ANE. It appears though it's only working for tracking events and not views. Is there any known workaround for this without recompiling?

[2015-07-02 11:39] ukmunnithan commented on #67
@mparrett The tracking for View is not working for the 64 bit version in iOS build.I tried with tracker.buildView("HomeView").track(); But no updates are shown in the Realtime page :(
I also tried with the events too..That also not shown in the Google Analytics page

@hrisunko Did you get any solution for fixing this issue??

[2015-07-30 13:21] pablolemosassis commented on #67
@vicker ,
Could you share your solution with Intellij?
I am facing the exact same problem.
Tks in advance.

[2015-08-07 07:39] vicker commented on #67
@pablocabana
Sorry for the late reply. Umm... let me try my very best to call back my memories...
At that time when I hit that error, I have 2 versions of ANE Google Analytics in my project ANE folder. Although I only added one of the ANE into the project's configuration, IntelliJ tries to load the other outdated ANE as well. (Please note that the ADT can only include a folder, not a file) The res

[2015-08-10 14:11] caostar commented on #67
@vicker
Tks a lot. I believe that was exactly the issue!

[2015-08-12 18:08] vicker commented on #67
@caostar
Always welcome :)

[2016-01-12 08:13] vicker commented on #67
@mparrett Seems like the ANE no longer work on iOS 9 with Adobe AIR 20. I am not sure whether this is related to the App Transport Security. Any clue?

[2016-02-15 10:47] railnation opened #69 "UncaughtExceptions"
Hi,

I have a short Question, does this ANE support UncaughtExceptions ?

Best regards

Christian

[2016-05-07 16:49] joy2play opened #70 "Google Service Version 8487000 not supported"
Hello,

new version of 8487000 google service not supported for google analytic. could you please check it and update!

Thanks,
joy2play

[2016-11-18 08:02] laraibmalik90 opened #71 "I am unable to find .ANE file in this folder, any one can guide."

[2016-11-18 14:38] joy2play commented on #71
check it
https://github.com/alebianco/ANE-Google-Analytics/releases

[2016-11-21 08:27] laraibmalik90 commented on #71
Error: libNativeGATracker.a are required to have universal iOS libraries. Please contact the ANE developer(s) to get the same. It gives me following error on ios app can you please guide?

[2017-06-15 17:13] bigtimebuddy commented on #71
@laraibmalik90 This is related to #67 to supporting 64-bit iOS apps.

[2017-09-05 20:44] zeh commented on #67
Anyone of any version of this library that actually works using Air 26+ now that iOS 11 is about to be released and make 64 bits required? I haven't had much luck with any of the forks (running into a lot of "Undefined symbols for architecture arm64" errors).

[2017-09-26 09:13] #69 closed, assigned to nobody

[2018-06-14 12:08] GaiusCoffey opened #72 "Build broken now that Android doesn't have build.xml"
Hi,
Android SDK no longer includes build.xml so the build script crashes on line 90 where it looks for {sdk}/tools/ant/build.xml
Is it possible to get this fixed?
Thanks,
G

[2022-10-24 20:59] mparrett commented on #67
I think we safely can close this issue since it's been over 2 years since any activity. Feel free to re-open if necessary.

[2022-10-24 20:59] #67 closed, assigned to nobody